# **Introduction**

In professional sports, particularly the NBA, aligning player performance with salary is crucial for team success. With player salaries often reaching multimillion-dollar levels, understanding the relationship between performance and salaries enables executives to make informed decisions about contracts, acquisitions, and negotiations. Overpaying or underpaying players risks both team effectiveness and financial flexibility. The shift toward data-driven decision-making in sports management empowers teams to better assess player value, ensuring optimal investments for maximum returns.

This study explores the relationship between NBA salaries and performance, identifying opportunities to enhance cost efficiency and value alignment. It also investigates the influence of college performance on NBA careers, aiming to uncover whether specific colleges consistently produce top-performing players (USA Today, 2023). Understanding these connections can guide teams in talent recruitment and help prospective players align their development strategies for professional success. By examining these factors, this report seeks to provide actionable insights into optimizing team investments and fostering career growth.

1. How does team change impact a player’s performance and salary?
2. What are the benchmark KPI values to consider when recruiting fresh college talent for the NBA?
3. Which colleges produce top NBA talent, and what do their alumni salaries say about their value?

The analysis is based on three datasets:
1. The first dataset consists of basketball player details and their statistics per season from 49 leagues around the globe spanning from the years 1999 to 2020.  
- Dataset link: https://www.kaggle.com/datasets/jacobbaruch/basketball-players-stats-per-season-49-leagues
- Dataset format: The dataset contains 53,949 records and 34 fields, capturing player performance statistics, physical attributes, and draft details in a CSV format.
- Initial audit: An initial audit reveals missing values in columns such as height, weight, and draft details, with the draft fields being especially incomplete. The height column has a date type format which is improper. 
- Potential problems: Duplicates, numerical outliers, and incomplete or inconsistent entries are among some of the issues. Given that this dataset has information for any given player over multiple rows (one for each year), if a second dataset contains unique player information (such as basic player details, demographics, etc.), merging the two datasets without accounting for this can result in duplicated rows. 

2. The second dataset consists of NBA player salaries along with the rank of the player's salary within a specific season and the year they played in (2000 - 2019)
-  Dataset link: https://www.kaggle.com/datasets/hrfang1995/nba-salaries-by-players-of-season-2000-to-2019
- Dataset format: The dataset includes 37,421 rows and 5 columns in a CSV format. It includes player names, salaries, ranks, and corresponding years, with an additional unnamed index-like column.
- Initial Audit: On first look, the dataset consists of missing salary values and the presence of an unnecessary unnamed column (which is most liekly the index column). Preliminary inspection shows some salaries that are disproportionately high, likely corresponding to superstar players. These need to be handled to avoid skewing averages.
- Potential problems: Firstly, there are numerous missing values in the salary column, which may impact the accuracy of any salary-related analysis. Additionally, player names might not be consistently formatted across datasets, causing challenges in merging data accurately. The dataset spans nearly two decades (2000–2019), which introduces the risk of tenure bias, where players with longer careers may skew averages, and external factors like changes in the salary cap or inflation could influence salary trends over time. 

3. The third dataset consists of college basketball player stastics from the seasons 1960 to 2021.
- Dataset link: https://www.kaggle.com/datasets/calvintancy/college-game-statistics-of-nba-players
- Dataset format: The  dataset contains 10,123 records and 28 columns in a CSV format, providing college basketball player statistics such as points, assists, and rebounds, along with age, college ID, and seasons.
- Initial audit: While columns like name, age, college_id, and season are complete, performance-related metrics are inconsistently recorded. Also, the dataset has inconsistent player name formats with foreign language names. There are also missing values in some performance metrics like fg3, fg3a, and fg3_pct. Columns like orb (offensive rebounds) have a significant amount of missing data (over 50%).
- Potential problems: The dataset has missing values in key metrics like mp (minutes played) and fg_pct (field goal percentage), which could affect analysis accuracy. Historical inconsistencies exist due to the absence of three-point stats for earlier eras, making cross-era comparisons challenging. Additionally, derived metrics may propagate inaccuracies if source columns have gaps, and outliers (e.g., unusually young player ages) may require validation. Columns like player_html add redundancy without analytical value. The player names must be standardized before merging with another dataset. 


### Limitations of the selected datasets
When analyzing datasets containing basketball performance metrics and salaries, we encountered significant challenges like tenure bias. Tenure bias arises because players with longer careers naturally have more games to contribute to their averages, potentially diluting year-to-year performance fluctuations, while one-and-done players have limited data, making comparisons inequitable. 

Additionally, superstars with exceptional stats can skew averages, overshadowing trends from the broader player population. External factors further complicate analysis—modern players benefit from greater media exposure, influencing perceptions of player value, while historical changes like inflation, evolving rules, and collective bargaining agreements (CBA) affect salaries and performance in ways not captured directly by the data.

To mitigate these issues, we standardize values using z-scores, which equalize differences across scales and eras, focusing on relative performance rather than raw numbers. However, while standardization addresses some imbalances, it cannot fully account for contextual differences such as gameplay styles, rule changes over time or the external factors discussed earlier.

# **Datasets**

### 1. Basketball Player Statistics

Metadata:
- League: The basketball league the player participated in (e.g., NBA).
- Season: The specific season in a year range format (e.g., 1999 - 2000).
- Stage: The phase of the season (e.g., Regular_Season, Playoffs).
- Player: The name of the player.
- Team: The abbreviation of the team the player was part of during that season.
- GP (Games Played): The number of games the player appeared in.
- MIN (Minutes Played): The total minutes the player was on the court during the season.
- FGM (Field Goals Made): The number of successful field goals made.
- FGA (Field Goals Attempted): The number of field goals attempted.
- 3PM (Three-Point Field Goals Made): The number of successful three-point shots made.
- 3PA (Three-Point Field Goals Attempted): The number of three-point shots attempted.
- FTM (Free Throws Made): The number of successful free throws made.
- FTA (Free Throws Attempted): The number of free throws attempted.
- TOV (Turnovers): The number of times the player lost possession of the ball.
- PF (Personal Fouls): The total personal fouls committed by the player.
- ORB (Offensive Rebounds): The number of rebounds collected on the offensive end.
- DRB (Defensive Rebounds): The number of rebounds collected on the defensive end.
- REB (Total Rebounds): The sum of offensive and defensive rebounds.
- AST (Assists): The number of assists made by the player.
- STL (Steals): The number of times the player successfully stole the ball.
- BLK (Blocks): The number of blocked shots.
- PTS (Points): The total points scored by the player.
- birth_year: The player's year of birth.
- birth_month: The player's birth month.
- birth_date: The player's date of birth.
- height: The player's height, formatted as feet-inches.
- height_cm: The player's height in centimeters.
- weight: The player's weight in pounds.
- weight_kg: The player's weight in kilograms.
- nationality: The player's nationality.
- high_school: The high school the player attended.
- draft_round: The round in which the player was drafted in the NBA draft.
- draft_pick: The pick number of the player in the NBA draft.
- draft_team: The team that drafted the player.


### 2. NBA Player Salaries

Metadata:
- Unnamed: An index column.
- Name: The name of the player.
- Year: The year corresponding to the player’s salary data.
- Salaries: The salary of the player for the given year, in USD.
- Rank: The rank of the player in terms of salary for the given year.


### 3. College Basketball Player Statistics

Metadata:
- name: The name of the player.
- age: The age of the player during the respective season.
- college_id: A unique identifier or abbreviation for the college the player attended.
- g (Games Played): The number of games the player participated in.
- mp (Minutes Played): Total minutes the player played during the season.
- fg (Field Goals Made): The number of successful field goals made by the player.
- fga (Field Goals Attempted): The number of field goals the player attempted.
- fg3 (Three-Point Field Goals Made): Successful three-point shots made by the player.
- fg3a (Three-Point Field Goals Attempted): The number of three-point shots attempted.
- ft (Free Throws Made): Successful free throws made by the player.
- fta (Free Throws Attempted): The number of free throws attempted.
- orb (Offensive Rebounds): The number of rebounds collected on the offensive end.
- trb (Total Rebounds): The total number of rebounds collected (offensive + defensive).
- ast (Assists): The number of assists made by the player.
- stl (Steals): The number of times the player stole the ball.
- blk (Blocks): The number of shots blocked by the player.
- tov (Turnovers): The number of times the player lost possession of the ball.
- pf (Personal Fouls): The number of fouls committed by the player.
- pts (Points): The total points scored by the player during the season.
- fg_pct (Field Goal Percentage): The percentage of successful field goals attempted.
- fg3_pct (Three-Point Field Goal Percentage): The percentage of successful three-point shots attempted.
- ft_pct (Free Throw Percentage): The percentage of successful free throws attempted.
- mp_per_g (Minutes Per Game): Average minutes played per game.
- pts_per_g (Points Per Game): Average points scored per game.
- trb_per_g (Rebounds Per Game): Average total rebounds per game.
- ast_per_g (Assists Per Game): Average assists per game.
- player_html: A URL linking to the player's college statistics page.
- season: The season the statistics pertain to.

# Data Import, Cleaning and Merging

### Dataset 1 - Basketball Player Statistics

Wrangling the Dataset 1 which is about NBA Player's Performance Stats and Other Details

In [66]:
# Import pandas package for data wrangling.
import pandas as pd

In [67]:
# Import the Basketball player statistics datasset into a dataframe as 'OG'. 
OG = pd.read_csv("data/players_stats_by_season_full_details.csv")
OG

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,6-Mar-72,7-Jan,216.0,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,26-Jan-77,6-Jun,198.0,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,24-Jul-63,6-Sep,206.0,265.0,120.0,United States,Summerfield High School,1.0,13.0,Utah Jazz
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,7-Jun-75,6-0,183.0,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,23-Jul-68,6-Apr,193.0,180.0,82.0,United States,Skyline High School,1.0,2.0,Seattle SuperSonics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53934,Ukrainian-Superleague,2019 - 2020,International,Kyrylo Meshheryakov,MYK,15,127.0,7,28,2,...,17-Aug-95,6-Jun,198.0,182.0,83.0,Ukraine,NaN,NaN,NaN,NaN
53935,Ukrainian-Superleague,2019 - 2020,International,Yaroslav Kadygrob,ODE,10,81.7,5,16,4,...,28-Oct-91,6-Mar,191.0,187.0,85.0,Ukraine,NaN,NaN,NaN,NaN
53936,Ukrainian-Superleague,2019 - 2020,International,Ernesto Tkachuk,ODE,16,124.7,1,15,0,...,17-Sep-94,6-Feb,188.0,200.0,91.0,Ukraine,NaN,NaN,NaN,NaN
53937,Ukrainian-Superleague,2019 - 2020,International,Andrij Shapovalov,KHAR,12,59.2,0,8,0,...,10-Nov-93,6-Feb,188.0,171.0,78.0,Ukraine,NaN,NaN,NaN,NaN
53938,Ukrainian-Superleague,2019 - 2020,International,Dmitriy Lypovtsev,KHAR,5,86.3,1,13,0,...,10-Oct-86,6-Aug,203.0,220.0,100.0,Ukraine,NaN,NaN,NaN,NaN

In [68]:
# Display summary of the DataFrame 'OG'. 
OG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53939 entries, 0 to 53938
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League       53939 non-null  object
 1   Season       53939 non-null  object
 2   Stage        53939 non-null  object
 3   Player       53939 non-null  object
 4   Team         53928 non-null  object
 5   GP           53939 non-null  int64
 6   MIN          53939 non-null  float64
 7   FGM          53939 non-null  int64
 8   FGA          53939 non-null  int64
 9   3PM          53939 non-null  int64
 10  3PA          53939 non-null  int64
 11  FTM          53939 non-null  int64
 12  FTA          53939 non-null  int64
 13  TOV          53939 non-null  int64
 14  PF           53939 non-null  int64
 15  ORB          53939 non-null  int64
 16  DRB          53939 non-null  int64
 17  REB          53939 non-null  int64
 18  AST          53939 non-null  int64
 19  STL          53939 non-null  int64
 20  BLK          53939 non-null  int64
 21  PTS          53939 non-null  int64
 22  birth_year   53621 non-null  float64
 23  birth_month  53621 non-null  object
 24  birth_date   53621 non-null  object
 25  height       53865 non-null  object
 26  height_cm    53865 non-null  float64
 27  weight       49375 non-null  float64
 28  weight_kg    49375 non-null  float64
 29  nationality  53932 non-null  object
 30  high_school  23673 non-null  object
 31  draft_round  10126 non-null  float64
 32  draft_pick   10126 non-null  float64
 33  draft_team   10126 non-null  object
dtypes: float64(7), int64(16), object(11)
memory usage: 14.0+ MB

In [69]:
# Generate descriptive statistics for numeric metrics in the dataframe 'OG'.
OG.describe()

,GP,MIN,FGM,FGA,3PM,3PA,FTM,FTA,TOV,PF,...,AST,STL,BLK,PTS,birth_year,height_cm,weight,weight_kg,draft_round,draft_pick
count,53939.000000,53939.000000,53939.000000,53939.000000,53939.000000,53939.000000,53939.000000,53939.000000,53939.000000,53939.000000,...,53939.000000,53939.000000,53939.000000,53939.000000,53621.000000,53865.000000,49375.000000,49375.000000,10126.000000,10126.000000
mean,30.310462,752.327209,113.179555,245.038303,28.455385,80.701811,56.290087,76.004876,47.257661,70.098686,...,62.776080,26.714529,10.492964,311.116038,1986.361593,197.445577,210.311818,95.423251,1.387912,14.045329
std,17.844137,534.050718,100.134361,212.061379,30.643168,80.586825,59.234314,76.166721,37.393208,45.626154,...,73.163267,22.075955,18.201288,271.715722,6.636120,8.728951,26.129651,11.851998,0.508329,8.642806
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1961.000000,160.000000,130.000000,59.000000,1.000000,1.000000
25%,17.000000,380.900000,48.000000,109.000000,6.000000,20.000000,20.000000,28.000000,21.000000,37.000000,...,20.000000,11.000000,1.000000,134.000000,1982.000000,191.000000,190.000000,86.000000,1.000000,6.000000
50%,29.000000,663.000000,89.000000,196.000000,20.000000,61.000000,40.000000,56.000000,39.000000,64.000000,...,41.000000,21.000000,4.000000,247.000000,1987.000000,198.000000,209.000000,95.000000,1.000000,13.000000
75%,37.000000,954.000000,145.000000,310.000000,41.000000,117.000000,73.000000,99.000000,63.000000,91.000000,...,78.000000,36.000000,12.000000,399.000000,1991.000000,203.000000,229.000000,104.000000,2.000000,22.000000
max,85.000000,3485.000000,978.000000,2173.000000,402.000000,1028.000000,756.000000,972.000000,464.000000,371.000000,...,925.000000,225.000000,307.000000,2832.000000,2004.000000,229.000000,375.000000,170.000000,7.000000,30.000000

In [70]:
# Using the 'split_season' function, creating a new column by spliting the "Season" column.
def split_season(val):
    return int(val.split("-")[0].replace(" ",""))

OG["Year"] = OG['Season'].apply(split_season)

Context for the below code:  
The scope of the anaylsis is to focus on just 'NBA' players and their 'regular season' performance metrics for years between 2000 and 2019 inclusive.

In [71]:
# Create a new filtered dataframe using the OG dataframe using 'League' column for NBA, 'Stage' column for Regular Season players and 'Year' column for years between 2000 to 2019 inclusive.
df1 = OG.loc[(OG['League'] == 'NBA') & (OG['Stage'] == 'Regular_Season') & (OG['Year'] >= 2000) & (OG['Year'] <= 2019)] 
df1.reset_index(drop=True, inplace= True) #This will reset the index column after filtering. 'drop' function prevets old index column from being added to the dataframe. 
                                          #'inplace' modifies the DataFrame directly instead of creating a new DataFrame.
df1

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team,Year
0,NBA,2000 - 2001,Regular_Season,Jerry Stackhouse,DET,80,3215.0,774,1927,166,...,6-Jun,198.0,218.0,99.0,United States,Oak Hill Academy,1.0,3.0,Philadelphia Sixers,2000
1,NBA,2000 - 2001,Regular_Season,Allen Iverson,PHI,71,2979.0,762,1813,98,...,6-0,183.0,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers,2000
2,NBA,2000 - 2001,Regular_Season,Shaquille O'Neal,LAL,74,2924.0,813,1422,0,...,7-Jan,216.0,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic,2000
3,NBA,2000 - 2001,Regular_Season,Paul Pierce,BOS,82,3120.0,687,1513,147,...,6-Jul,201.0,235.0,107.0,United States,Inglewood High School,1.0,10.0,Boston Celtics,2000
4,NBA,2000 - 2001,Regular_Season,Vince Carter,TOR,75,2979.0,762,1656,162,...,6-Jun,198.0,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4440,NBA,2019 - 2020,Regular_Season,Matt Dellavedova,CLE,57,820.7,62,175,21,...,6-Apr,193.0,200.0,91.0,Australia,Australian Institute of Sport,NaN,NaN,NaN,2019
4441,NBA,2019 - 2020,Regular_Season,Goga Bitadze,IND,54,471.3,70,150,8,...,6-Nov,211.0,245.0,111.0,Georgia,NaN,1.0,18.0,Indiana Pacers,2019
4442,NBA,2019 - 2020,Regular_Season,Nassir Little,POR,48,572.5,65,151,14,...,6-Jun,198.0,220.0,100.0,United States,Orlando Christian Prep High School,1.0,25.0,Portland Trail Blazers,2019
4443,NBA,2019 - 2020,Regular_Season,David Nwaba,BRK,20,268.5,37,71,12,...,6-Apr,193.0,219.0,99.0,United States,University City High School,NaN,NaN,NaN,2019
4444,NBA,2019 - 2020,Regular_Season,Al-Farouq Aminu,ORL,18,380.1,25,86,9,...,6-Sep,206.0,220.0,100.0,United States / Nigeria,Norcross High School,1.0,8.0,Los Angeles Clippers,2019

###  Dataset 2 - NBA Salaries

Wrangling the Dataset 2 which is about the salaries of all NBA players.

In [72]:
# Import the NBA player salaries into dataframe called 'df2'. 
df2 = pd.read_csv("data/NBA_Full_Salaries_2000-2019.csv")

# Drop the index column given in the dataset as it is not required. 
#df2.drop(df2.columns[0], axis=1, inplace=True)
df2

                   Name  Year  Salaries  Rank
0      Shaquille O'Neal  2000  17142000     1
1         Kevin Garnett  2000  16806000     2
2       Alonzo Mourning  2000  15004000     3
3          Juwan Howard  2000  15000000     4
4        Scottie Pippen  2000  14795000     5
...                 ...   ...       ...   ...
37375       George King  2019     77250   487
37376      Drew Eubanks  2019     77250   487
37377       Jordan Loyd  2019     77250   487
37378    Wenyen Gabriel  2019     75000   512
37379         Nuni Omot  2019     20000   513

[37380 rows x 4 columns]

In [73]:
# Display summary of DataFrame 'df2'. 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37380 entries, 0 to 37379
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      37380 non-null  object
 1   Year      37380 non-null  int64
 2   Salaries  37380 non-null  int64
 3   Rank      37380 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.1+ MB

In [74]:
# Generate descriptive statistics for numeric metrics in dataframe df2.
df2.describe()

               Year      Salaries          Rank
count  37380.000000  3.738000e+04  37380.000000
mean    2009.500000  1.114275e+06    936.157892
std        5.766358  3.185660e+06    540.204808
min     2000.000000  0.000000e+00      1.000000
25%     2004.750000  0.000000e+00    468.000000
50%     2009.500000  0.000000e+00    936.000000
75%     2014.250000  0.000000e+00   1404.000000
max     2019.000000  3.745715e+07   1871.000000

## Dataset 3 - College Player Statistics

In [75]:
# Loading college stats into dataframe 'df3' using pandas.
df3 = pd.read_csv("data/nba_players_college_stats.csv")
df3

,name,age,college_id,g,mp,fg,fga,fg3,fg3a,ft,...,pts,fg_pct,fg3_pct,ft_pct,mp_per_g,pts_per_g,trb_per_g,ast_per_g,player_html,season
0,Udoka Azubuike,17,KANSAS,11.0,142.0,22.0,35.0,0.0,0.0,11.0,...,55.0,0.629,NaN,0.379,12.9,5.0,4.4,0.2,https://www.basketball-reference.com/players/a...,2016-17
1,Udoka Azubuike,18,KANSAS,36.0,848.0,211.0,274.0,0.0,0.0,45.0,...,467.0,0.770,NaN,0.413,23.6,13.0,7.0,0.7,https://www.basketball-reference.com/players/a...,2017-18
2,Udoka Azubuike,19,KANSAS,9.0,184.0,55.0,78.0,0.0,0.0,11.0,...,121.0,0.705,NaN,0.344,20.4,13.4,6.8,0.6,https://www.basketball-reference.com/players/a...,2018-19
3,Udoka Azubuike,20,KANSAS,31.0,859.0,181.0,242.0,0.0,0.0,64.0,...,426.0,0.748,NaN,0.441,27.7,13.7,10.5,0.9,https://www.basketball-reference.com/players/a...,2019-20
4,Marty Byrnes,18,SYRACUSE,19.0,NaN,6.0,15.0,NaN,NaN,6.0,...,18.0,0.400,NaN,0.500,NaN,0.9,1.4,0.0,https://www.basketball-reference.com/players/b...,1974-75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10111,Aleksandar Radojević,22,BARTONCCC,38.0,1072.0,231.0,381.0,2.0,3.0,121.0,...,585.0,0.606,0.667,0.634,28.2,15.4,9.0,1.3,https://www.basketball-reference.com/players/r...,1998-99
10112,Mark Radford,18,OREGONST,27.0,818.0,119.0,239.0,NaN,NaN,48.0,...,286.0,0.498,NaN,0.738,30.3,10.6,2.1,3.6,https://www.basketball-reference.com/players/r...,1977-78
10113,Mark Radford,19,OREGONST,28.0,849.0,143.0,280.0,NaN,NaN,97.0,...,383.0,0.511,NaN,0.776,30.3,13.7,3.1,4.0,https://www.basketball-reference.com/players/r...,1978-79
10114,Mark Radford,20,OREGONST,30.0,957.0,140.0,258.0,NaN,NaN,78.0,...,358.0,0.543,NaN,0.804,31.9,11.9,2.5,3.3,https://www.basketball-reference.com/players/r...,1979-80
10115,Mark Radford,21,OREGONST,28.0,900.0,147.0,279.0,NaN,NaN,69.0,...,363.0,0.527,NaN,0.633,32.1,13.0,2.2,3.3,https://www.basketball-reference.com/players/r...,1980-81

In [76]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10116 entries, 0 to 10115
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         10116 non-null  object
 1   age          10116 non-null  int64
 2   college_id   10116 non-null  object
 3   g            10106 non-null  float64
 4   mp           9008 non-null   float64
 5   fg           10100 non-null  float64
 6   fga          10078 non-null  float64
 7   fg3          7003 non-null   float64
 8   fg3a         6999 non-null   float64
 9   ft           10100 non-null  float64
 10  fta          10085 non-null  float64
 11  orb          4134 non-null   float64
 12  trb          10083 non-null  float64
 13  ast          9448 non-null   float64
 14  stl          8672 non-null   float64
 15  blk          8652 non-null   float64
 16  tov          8311 non-null   float64
 17  pf           9466 non-null   float64
 18  pts          10107 non-null  float64
 19  fg_pct       10076 non-null  float64
 20  fg3_pct      6039 non-null   float64
 21  ft_pct       10065 non-null  float64
 22  mp_per_g     9008 non-null   float64
 23  pts_per_g    10106 non-null  float64
 24  trb_per_g    10083 non-null  float64
 25  ast_per_g    9448 non-null   float64
 26  player_html  10116 non-null  object
 27  season       10116 non-null  object
dtypes: float64(23), int64(1), object(4)
memory usage: 2.2+ MB

In [77]:
df3.describe()

,age,g,mp,fg,fga,fg3,fg3a,ft,fta,orb,...,tov,pf,pts,fg_pct,fg3_pct,ft_pct,mp_per_g,pts_per_g,trb_per_g,ast_per_g
count,10116.00000,10106.000000,9008.000000,10100.000000,10078.000000,7003.000000,6999.000000,10100.000000,10085.000000,4134.000000,...,8311.000000,9466.000000,10107.000000,10076.000000,6039.000000,10065.000000,9008.000000,10106.000000,10083.000000,9448.000000
mean,20.04310,29.858995,856.592917,147.174653,298.911987,28.129802,77.017288,82.988614,115.507486,47.982583,...,63.070268,71.893408,396.874740,0.490605,0.323978,0.703785,27.910702,13.217544,5.670991,2.154551
std,1.38337,5.499135,278.421098,69.672661,137.144584,28.851052,74.070507,47.125546,61.037253,31.875722,...,27.107370,22.806134,186.867321,0.070848,0.147327,0.107712,7.734175,5.973133,3.061296,1.634554
min,17.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.00000,28.000000,711.000000,98.000000,202.000000,1.000000,6.000000,48.000000,71.000000,22.000000,...,44.000000,59.000000,264.000000,0.444000,0.283500,0.644000,24.200000,9.100000,3.400000,0.900000
50%,20.00000,30.000000,921.000000,148.000000,302.000000,20.000000,61.000000,79.000000,111.000000,41.000000,...,64.000000,74.000000,402.000000,0.488000,0.346000,0.716000,30.100000,13.300000,5.100000,1.700000
75%,21.00000,33.000000,1052.000000,194.000000,392.000000,47.000000,129.000000,112.000000,155.000000,68.000000,...,81.000000,87.750000,523.000000,0.535000,0.395000,0.779000,33.500000,17.200000,7.400000,2.900000
max,27.00000,41.000000,1543.000000,522.000000,1168.000000,185.000000,463.000000,337.000000,436.000000,200.000000,...,173.000000,141.000000,1381.000000,1.000000,1.000000,1.000000,40.900000,48.900000,27.000000,13.300000

# Combined Datasets
## Question 1 - Merged Dataset

To answer the Question 1 Dataset we need to merge df2 (dataset 2) on df1 (dataset 1) so that we get the salary for each player for each year he was playing in NBA.  
Since df1 has multiple rows for each player, to be able to merge we need to create a unique key in both datasets by combining the player name and the year column.

In [78]:
# The 'name_key' will concatenate the player's name with the season year to ensure unique matching.
df1['Name_Key'] = (df1['Player']) + "_" + (df1['Year'].astype(str))
df2['Name_Key'] = (df2['Name']) + "_" + (df2['Year'].astype(str))

C:\Users\ssay778\AppData\Local\Temp\ipykernel_20276\1528222434.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Name_Key'] = (df1['Player']) + "_" + (df1['Year'].astype(str))

In [79]:
# Merging the two DataFrames (df1 and df2) on the 'name_key' column using an inner join. Only rows that have a matching 'name_key' in both DataFrames will be kept.
Q1_df = pd.merge(df1, df2, on="Name_Key", how="inner")

After merging the dataset ('Q1_df') NAs were seen in the Salary column. When investigated, we found out that for those years, the Salary dataset (df2) had 0.
Since we did not remove 0 from df2 initally, the inner join pulled all matching values in the merged dataset, resulting in 0 being pulled as well.  
The focus of the analysis is to investigate all those players for which the salary is available and greater than 0, thus the next step is to filter 'Q1_df'.

In [80]:
# Filtering the merged DataFrame to only keep rows where the salary is greater than 0.
Q1_df = Q1_df.loc[Q1_df['Salaries'].astype(int) > 0]

# To ensure Q1_df is a standalone copy and not a sliced view of the subset dataframe use .copy () and to prevent SettingWithCopyWarning in future operations
Q1_df = Q1_df.copy()

To narrow down our focus, we computed custom metrics based on research [Jakoncic, 2024] (please refer Apppendix), to select the best 4 metrics that will best measures the performance for basketball players.

In [81]:
# Calculating performance metrics per game for each player:
Q1_df['Points Per Game'] = Q1_df['PTS'] / Q1_df['GP']
Q1_df['Assists Per Game'] = Q1_df['AST'] / Q1_df['GP']
Q1_df['Rebounds Per Game'] = Q1_df['REB'] / Q1_df['GP']
Q1_df['Goals Made Per Game'] = Q1_df['FGM'] / Q1_df['GP']

In [82]:
# Calculating the player's age by subtracting the birth year from the season year.
Q1_df['Age'] = Q1_df['Year_y'] - Q1_df['birth_year']

# Creating a list of all columns that are not needed for further analysis.
columns_to_drop = [
    'Season', 'Stage', 'GP', 'MIN', 'FGM', 'FGA', '3PM', '3PA', 'FTM', 'FTA', 'TOV', 'PF', 
    'ORB', 'DRB', 'REB', 'AST', 'STL', 'BLK', 'PTS', 'birth_month', 'birth_date', 'height', 
    'weight', 'weight_kg', 'nationality', 'high_school', 'draft_round', 'draft_pick', 'draft_team', 
    'Year_x', 'Name_Key', 'Name', 'birth_year']

# Dropping the unnecessary columns from the dataset using the list created above.
Q1_df = Q1_df.drop(columns=columns_to_drop)

# Renaming columns to standardize the dataset.
Q1_df = Q1_df.rename(columns={
    'height_cm': 'Height (cm)',
    'Year_y': 'Year'})

# Sorting the DataFrame by 'Player' and 'Year' to organize the data by player and the chronological order of seasons.
Q1_df = Q1_df.sort_values(by=['Player', 'Year'])

# Creating a 'TeamChange' column to track whether a player has changed teams between seasons, 
#  Use .shift() to check if the team in the current row is different from the previous row for the same player.
Q1_df['TeamChange'] = Q1_df.groupby('Player')['Team'].shift() != Q1_df['Team']  # Reverse logic (!= , TRUE will indicate player !!HAS CHANGED!! team).

# Explicitly setting 'base' for the first row of each player using .loc[] to avoid any setting-with-copy warning.
Q1_df.loc[Q1_df.groupby('Player').head(1).index, 'TeamChange'] = 'base'

# Ensuring that 'TeamChange' can hold both boolean and string values by converting to an object type (string).
Q1_df['TeamChange'] = Q1_df['TeamChange'].astype(object)

# Calculate the salary change for each player between consecutive seasons using `diff()` function within each player group.
Q1_df['Salary Change'] = Q1_df.groupby('Player')['Salaries'].diff()

C:\Users\ssay778\AppData\Local\Temp\ipykernel_20276\3272454469.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'base' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  Q1_df.loc[Q1_df.groupby('Player').head(1).index, 'TeamChange'] = 'base'

Z-Score normalization to each player's performance metrics and salary, helping to compare players across different career lengths and reduce bias due to tenure.

In [83]:
# Z-Score normalization for Salary
Q1_df['Z-Score Salary'] = Q1_df.groupby('Player')['Salaries'].transform(
    lambda x: (x - x.mean()) / x.std())

# Z-Score normalization for Points Per Game
Q1_df['Points Per Game'] = Q1_df.groupby('Player')['Points Per Game'].transform(
    lambda x: (x - x.mean()) / x.std())

# Z-Score normalization for Assists Per Game
Q1_df['Assists Per Game'] = Q1_df.groupby('Player')['Assists Per Game'].transform(
    lambda x: (x - x.mean()) / x.std())

# Z-Score normalization for Rebounds Per Game
Q1_df['Rebounds Per Game'] = Q1_df.groupby('Player')['Rebounds Per Game'].transform(
    lambda x: (x - x.mean()) / x.std())

# Z-Score normalization for Field Goal Percentage
Q1_df['Goals Made Per Game'] = Q1_df.groupby('Player')['Goals Made Per Game'].transform(
    lambda x: (x - x.mean()) / x.std())

In [84]:
# Dropping rows with any NaN values that may have resulted from calculations.
Q1_df.dropna(inplace=True)

# Resetting the DataFrame index after all transformations and dropping the old index.
Q1_df.reset_index(drop=True, inplace=True)

# Saving the final DataFrame to a CSV file for further analysis or reporting.
Q1_df.to_csv("Question1.csv")

Question1 Google Drive Link - https://drive.google.com/file/d/1X7xnNgT1h3AJ90GQNcyzGlYYzPCJ7BQ2/view?usp=sharing

## Question 2 - Appended Dataset

For this question, we had to wrangle 2 datasets in isolation before appending it together.  
'Q2_df1' is part 1.

In [85]:
# Create a new dataframe to analyze question 2. 
# Start with assigning 'Q2_df1' to df1 so that the original dataset is not manipulated.

Q2_df1 = df1

To be able to append college stats under the NBA stats, we have to create a new column called 'Status'.  
This is because, appending will pull matching column names and paste data from the college stats dataset.  
Since there is no column where we can pull in college name of the players, the 'Status', column will be used to map college name the NBA dataset.

In [86]:
# 'Professional' means that the player was playing officially in NBA.
Q2_df1['Status'] = 'Professional'
Q2_df1

C:\Users\ssay778\AppData\Local\Temp\ipykernel_20276\2570424904.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q2_df1['Status'] = 'Professional'

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team,Year,Name_Key,Status
0,NBA,2000 - 2001,Regular_Season,Jerry Stackhouse,DET,80,3215.0,774,1927,166,...,218.0,99.0,United States,Oak Hill Academy,1.0,3.0,Philadelphia Sixers,2000,Jerry Stackhouse_2000,Professional
1,NBA,2000 - 2001,Regular_Season,Allen Iverson,PHI,71,2979.0,762,1813,98,...,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers,2000,Allen Iverson_2000,Professional
2,NBA,2000 - 2001,Regular_Season,Shaquille O'Neal,LAL,74,2924.0,813,1422,0,...,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic,2000,Shaquille O'Neal_2000,Professional
3,NBA,2000 - 2001,Regular_Season,Paul Pierce,BOS,82,3120.0,687,1513,147,...,235.0,107.0,United States,Inglewood High School,1.0,10.0,Boston Celtics,2000,Paul Pierce_2000,Professional
4,NBA,2000 - 2001,Regular_Season,Vince Carter,TOR,75,2979.0,762,1656,162,...,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors,2000,Vince Carter_2000,Professional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4440,NBA,2019 - 2020,Regular_Season,Matt Dellavedova,CLE,57,820.7,62,175,21,...,200.0,91.0,Australia,Australian Institute of Sport,NaN,NaN,NaN,2019,Matt Dellavedova_2019,Professional
4441,NBA,2019 - 2020,Regular_Season,Goga Bitadze,IND,54,471.3,70,150,8,...,245.0,111.0,Georgia,NaN,1.0,18.0,Indiana Pacers,2019,Goga Bitadze_2019,Professional
4442,NBA,2019 - 2020,Regular_Season,Nassir Little,POR,48,572.5,65,151,14,...,220.0,100.0,United States,Orlando Christian Prep High School,1.0,25.0,Portland Trail Blazers,2019,Nassir Little_2019,Professional
4443,NBA,2019 - 2020,Regular_Season,David Nwaba,BRK,20,268.5,37,71,12,...,219.0,99.0,United States,University City High School,NaN,NaN,NaN,2019,David Nwaba_2019,Professional
4444,NBA,2019 - 2020,Regular_Season,Al-Farouq Aminu,ORL,18,380.1,25,86,9,...,220.0,100.0,United States / Nigeria,Norcross High School,1.0,8.0,Los Angeles Clippers,2019,Al-Farouq Aminu_2019,Professional

In [87]:

Q2_df2 = df3 #allocating 'df3' to a new dataframe 'Q2_df2' so that the original dataframe remains unchanged.
Q2_df2

,name,age,college_id,g,mp,fg,fga,fg3,fg3a,ft,...,pts,fg_pct,fg3_pct,ft_pct,mp_per_g,pts_per_g,trb_per_g,ast_per_g,player_html,season
0,Udoka Azubuike,17,KANSAS,11.0,142.0,22.0,35.0,0.0,0.0,11.0,...,55.0,0.629,NaN,0.379,12.9,5.0,4.4,0.2,https://www.basketball-reference.com/players/a...,2016-17
1,Udoka Azubuike,18,KANSAS,36.0,848.0,211.0,274.0,0.0,0.0,45.0,...,467.0,0.770,NaN,0.413,23.6,13.0,7.0,0.7,https://www.basketball-reference.com/players/a...,2017-18
2,Udoka Azubuike,19,KANSAS,9.0,184.0,55.0,78.0,0.0,0.0,11.0,...,121.0,0.705,NaN,0.344,20.4,13.4,6.8,0.6,https://www.basketball-reference.com/players/a...,2018-19
3,Udoka Azubuike,20,KANSAS,31.0,859.0,181.0,242.0,0.0,0.0,64.0,...,426.0,0.748,NaN,0.441,27.7,13.7,10.5,0.9,https://www.basketball-reference.com/players/a...,2019-20
4,Marty Byrnes,18,SYRACUSE,19.0,NaN,6.0,15.0,NaN,NaN,6.0,...,18.0,0.400,NaN,0.500,NaN,0.9,1.4,0.0,https://www.basketball-reference.com/players/b...,1974-75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10111,Aleksandar Radojević,22,BARTONCCC,38.0,1072.0,231.0,381.0,2.0,3.0,121.0,...,585.0,0.606,0.667,0.634,28.2,15.4,9.0,1.3,https://www.basketball-reference.com/players/r...,1998-99
10112,Mark Radford,18,OREGONST,27.0,818.0,119.0,239.0,NaN,NaN,48.0,...,286.0,0.498,NaN,0.738,30.3,10.6,2.1,3.6,https://www.basketball-reference.com/players/r...,1977-78
10113,Mark Radford,19,OREGONST,28.0,849.0,143.0,280.0,NaN,NaN,97.0,...,383.0,0.511,NaN,0.776,30.3,13.7,3.1,4.0,https://www.basketball-reference.com/players/r...,1978-79
10114,Mark Radford,20,OREGONST,30.0,957.0,140.0,258.0,NaN,NaN,78.0,...,358.0,0.543,NaN,0.804,31.9,11.9,2.5,3.3,https://www.basketball-reference.com/players/r...,1979-80
10115,Mark Radford,21,OREGONST,28.0,900.0,147.0,279.0,NaN,NaN,69.0,...,363.0,0.527,NaN,0.633,32.1,13.0,2.2,3.3,https://www.basketball-reference.com/players/r...,1980-81

The college dataset contains information for all players that went to college and then started playing for NBA.  
Since there are players that started playing for NBA but did not go to college, it was essential to see the number of players that are in Q2_df1 but not in Q2_df2.  
This essentially means all names that are in nba dataset but not in college_stats.

In [88]:
# Check for players that are in the NBA dataset (Q2_df1) but not in the college stats dataset (Q2_df2).
# Appendix figure 1 explains that the resulting dataset has all players that did not attend college, thus outside the scope of this analysis.
nonmatching_names_df  = pd.DataFrame(
    Q2_df1.loc[~Q2_df1['Player'].isin(Q2_df2['name']), 'Player'].unique(), 
    columns=['Player'])


nonmatching_names_df

              Player
0      Tracy McGrady
1        Kobe Bryant
2      Kevin Garnett
3      Dirk Nowitzki
4    Peja Stojakovic
..               ...
194    Lonnie Walker
195    Darius Bazley
196      Isaac Bonga
197       Elie Okobo
198     Goga Bitadze

[199 rows x 1 columns]

Exporting the non-matching names to csv.   
This is to confirm whether the list of 199 names actually did not attend college.   
This was done using ChatGPT. Giving it the list of names and asking whether these players attended college or not.

In [89]:
nonmatching_names_df.to_csv("nonmatching_names_df.csv")

In [90]:
# Rename the columns directly in the Q2_df1 dataset
Q2_df1 = Q2_df1.rename(columns={
    'GP': 'Games Played',
    'MIN': 'Minutes Played',
    'FGM': 'Field Goals Made',
    'FGA': 'Field Goals Attempted',
    '3PM': 'Three-Point Field Goals Made',
    '3PA': 'Three-Point Field Goals Attempted',
    'FTM': 'Free Throws Made',
    'FTA': 'Free Throws Attempted',
    'TOV': 'Turnovers',
    'PF': 'Personal Fouls',
    'ORB': 'Offensive Rebounds',
    'DRB': 'Defensive Rebounds',
    'REB': 'Total Rebounds',
    'AST': 'Assists',
    'STL': 'Steals',
    'BLK': 'Blocks',
    'PTS': 'Points',
    'birth_year': 'Birth Year',
    'birth_month': 'Birth Month',
    'birth_date': 'Birth Date',
    'height': 'Height (in feet and inches)',
    'height_cm': 'Height (in centimeters)',
    'weight': 'Weight (in pounds)',
    'weight_kg': 'Weight (in kilograms)',
    'nationality': 'Nationality',
    'high_school': 'High School',
    'draft_round': 'Draft Round',
    'draft_pick': 'Draft Pick',
    'draft_team': 'Draft Team'
})

# Check the first few rows to confirm the changes
Q2_df1.head()

,League,Season,Stage,Player,Team,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,...,Weight (in pounds),Weight (in kilograms),Nationality,High School,Draft Round,Draft Pick,Draft Team,Year,Name_Key,Status
0,NBA,2000 - 2001,Regular_Season,Jerry Stackhouse,DET,80,3215.0,774,1927,166,...,218.0,99.0,United States,Oak Hill Academy,1.0,3.0,Philadelphia Sixers,2000,Jerry Stackhouse_2000,Professional
1,NBA,2000 - 2001,Regular_Season,Allen Iverson,PHI,71,2979.0,762,1813,98,...,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers,2000,Allen Iverson_2000,Professional
2,NBA,2000 - 2001,Regular_Season,Shaquille O'Neal,LAL,74,2924.0,813,1422,0,...,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic,2000,Shaquille O'Neal_2000,Professional
3,NBA,2000 - 2001,Regular_Season,Paul Pierce,BOS,82,3120.0,687,1513,147,...,235.0,107.0,United States,Inglewood High School,1.0,10.0,Boston Celtics,2000,Paul Pierce_2000,Professional
4,NBA,2000 - 2001,Regular_Season,Vince Carter,TOR,75,2979.0,762,1656,162,...,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors,2000,Vince Carter_2000,Professional

In [91]:
# Rename the columns directly in the Q2_df2 dataset
Q2_df2 = Q2_df2.rename(columns={
    'player_html': 'Player_HTML',
    'college_id': 'Status',
    'age': 'Age in College',
    'name': 'Player',
    'g': 'Games Played',
    'mp': 'Minutes Played',
    'fg': 'Field Goals Made',
    'fga': 'Field Goals Attempted',
    'fg3': 'Three-Point Field Goals Made',
    'fg3a': 'Three-Point Field Goals Attempted',
    'ft': 'Free Throws Made',
    'fta': 'Free Throws Attempted',
    'orb': 'Offensive Rebounds',
    'trb': 'Total Rebounds',
    'ast': 'Assists',
    'stl': 'Steals',
    'blk': 'Blocks',
    'tov': 'Turnovers',
    'pf': 'Personal Fouls',
    'pts': 'Points',
    'fg_pct': 'Field Goal Percentage',
    'fg3_pct': 'Three-Point Field Goal Percentage',
    'ft_pct': 'Free Throw Percentage',
    'mp_per_g': 'Minutes Per Game',
    'pts_per_g': 'Points Per Game',
    'trb_per_g': 'Rebounds Per Game',
    'ast_per_g': 'Assists Per Game'
})

# Check the first few rows to confirm the changes
Q2_df2.head()

,Player,Age in College,Status,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,Three-Point Field Goals Attempted,Free Throws Made,...,Points,Field Goal Percentage,Three-Point Field Goal Percentage,Free Throw Percentage,Minutes Per Game,Points Per Game,Rebounds Per Game,Assists Per Game,Player_HTML,season
0,Udoka Azubuike,17,KANSAS,11.0,142.0,22.0,35.0,0.0,0.0,11.0,...,55.0,0.629,NaN,0.379,12.9,5.0,4.4,0.2,https://www.basketball-reference.com/players/a...,2016-17
1,Udoka Azubuike,18,KANSAS,36.0,848.0,211.0,274.0,0.0,0.0,45.0,...,467.0,0.770,NaN,0.413,23.6,13.0,7.0,0.7,https://www.basketball-reference.com/players/a...,2017-18
2,Udoka Azubuike,19,KANSAS,9.0,184.0,55.0,78.0,0.0,0.0,11.0,...,121.0,0.705,NaN,0.344,20.4,13.4,6.8,0.6,https://www.basketball-reference.com/players/a...,2018-19
3,Udoka Azubuike,20,KANSAS,31.0,859.0,181.0,242.0,0.0,0.0,64.0,...,426.0,0.748,NaN,0.441,27.7,13.7,10.5,0.9,https://www.basketball-reference.com/players/a...,2019-20
4,Marty Byrnes,18,SYRACUSE,19.0,NaN,6.0,15.0,NaN,NaN,6.0,...,18.0,0.400,NaN,0.500,NaN,0.9,1.4,0.0,https://www.basketball-reference.com/players/b...,1974-75

Defining function to create a 'year' column out of the 'Season' column.  
This is because we cannot use the season column for any data wrangling as it contains the '-' character.

In [92]:

def season_fix(val):
    return int((val.split("-")[0])) + 1


Q2_df2 ['Year'] = Q2_df2['season'].apply(season_fix)

Q2_df2

,Player,Age in College,Status,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,Three-Point Field Goals Attempted,Free Throws Made,...,Field Goal Percentage,Three-Point Field Goal Percentage,Free Throw Percentage,Minutes Per Game,Points Per Game,Rebounds Per Game,Assists Per Game,Player_HTML,season,Year
0,Udoka Azubuike,17,KANSAS,11.0,142.0,22.0,35.0,0.0,0.0,11.0,...,0.629,NaN,0.379,12.9,5.0,4.4,0.2,https://www.basketball-reference.com/players/a...,2016-17,2017
1,Udoka Azubuike,18,KANSAS,36.0,848.0,211.0,274.0,0.0,0.0,45.0,...,0.770,NaN,0.413,23.6,13.0,7.0,0.7,https://www.basketball-reference.com/players/a...,2017-18,2018
2,Udoka Azubuike,19,KANSAS,9.0,184.0,55.0,78.0,0.0,0.0,11.0,...,0.705,NaN,0.344,20.4,13.4,6.8,0.6,https://www.basketball-reference.com/players/a...,2018-19,2019
3,Udoka Azubuike,20,KANSAS,31.0,859.0,181.0,242.0,0.0,0.0,64.0,...,0.748,NaN,0.441,27.7,13.7,10.5,0.9,https://www.basketball-reference.com/players/a...,2019-20,2020
4,Marty Byrnes,18,SYRACUSE,19.0,NaN,6.0,15.0,NaN,NaN,6.0,...,0.400,NaN,0.500,NaN,0.9,1.4,0.0,https://www.basketball-reference.com/players/b...,1974-75,1975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10111,Aleksandar Radojević,22,BARTONCCC,38.0,1072.0,231.0,381.0,2.0,3.0,121.0,...,0.606,0.667,0.634,28.2,15.4,9.0,1.3,https://www.basketball-reference.com/players/r...,1998-99,1999
10112,Mark Radford,18,OREGONST,27.0,818.0,119.0,239.0,NaN,NaN,48.0,...,0.498,NaN,0.738,30.3,10.6,2.1,3.6,https://www.basketball-reference.com/players/r...,1977-78,1978
10113,Mark Radford,19,OREGONST,28.0,849.0,143.0,280.0,NaN,NaN,97.0,...,0.511,NaN,0.776,30.3,13.7,3.1,4.0,https://www.basketball-reference.com/players/r...,1978-79,1979
10114,Mark Radford,20,OREGONST,30.0,957.0,140.0,258.0,NaN,NaN,78.0,...,0.543,NaN,0.804,31.9,11.9,2.5,3.3,https://www.basketball-reference.com/players/r...,1979-80,1980
10115,Mark Radford,21,OREGONST,28.0,900.0,147.0,279.0,NaN,NaN,69.0,...,0.527,NaN,0.633,32.1,13.0,2.2,3.3,https://www.basketball-reference.com/players/r...,1980-81,1981

Now, we need to find the common column names in both of our datasets. For that we need to align the common columns in both datasets so that column 1 in 'Q2_df1' is in the same location as 'Q2_df2'.

In [93]:

# Appending the required two datasets in a single dataframe called "Q2_df3"
common_columns = Q2_df1.columns.intersection(Q2_df2.columns).tolist() # This will find  common columns in both datasets and store it in a list.

Q2_df1_aligned = Q2_df1[common_columns] #This will align and store only those columns that are common in both datasets. It is doing this by looking up names from the 'common_columns' list.
Q2_df2_aligned = Q2_df2[common_columns]

# Now that we have two dataframes that have same columns and are also aligned, we append it together and call it 'Q2_df3'.
Q2_df3 = pd.concat([Q2_df1_aligned, Q2_df2_aligned], ignore_index=True) 
Q2_df3

,Player,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,Three-Point Field Goals Attempted,Free Throws Made,Free Throws Attempted,Turnovers,Personal Fouls,Offensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Points,Year,Status
0,Jerry Stackhouse,80.0,3215.0,774.0,1927.0,166.0,473.0,666.0,810.0,326.0,160.0,99.0,315.0,410.0,97.0,54.0,2380.0,2000,Professional
1,Allen Iverson,71.0,2979.0,762.0,1813.0,98.0,306.0,585.0,719.0,237.0,147.0,50.0,273.0,325.0,178.0,20.0,2207.0,2000,Professional
2,Shaquille O'Neal,74.0,2924.0,813.0,1422.0,0.0,2.0,499.0,972.0,218.0,256.0,291.0,940.0,277.0,47.0,204.0,2125.0,2000,Professional
3,Paul Pierce,82.0,3120.0,687.0,1513.0,147.0,384.0,550.0,738.0,262.0,251.0,94.0,522.0,253.0,138.0,69.0,2071.0,2000,Professional
4,Vince Carter,75.0,2979.0,762.0,1656.0,162.0,397.0,384.0,502.0,167.0,205.0,176.0,416.0,291.0,114.0,82.0,2070.0,2000,Professional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14556,Aleksandar Radojević,38.0,1072.0,231.0,381.0,2.0,3.0,121.0,191.0,NaN,NaN,NaN,342.0,49.0,NaN,NaN,585.0,1999,BARTONCCC
14557,Mark Radford,27.0,818.0,119.0,239.0,NaN,NaN,48.0,65.0,91.0,85.0,NaN,56.0,97.0,30.0,1.0,286.0,1978,OREGONST
14558,Mark Radford,28.0,849.0,143.0,280.0,NaN,NaN,97.0,125.0,94.0,96.0,NaN,87.0,112.0,34.0,4.0,383.0,1979,OREGONST
14559,Mark Radford,30.0,957.0,140.0,258.0,NaN,NaN,78.0,97.0,NaN,85.0,NaN,75.0,100.0,59.0,2.0,358.0,1980,OREGONST
14560,Mark Radford,28.0,900.0,147.0,279.0,NaN,NaN,69.0,109.0,61.0,79.0,NaN,61.0,92.0,61.0,1.0,363.0,1981,OREGONST

To create the final dataset that will be used to answer question 2, we need to filter it based on the players that went to college and went to play for NBA afterwards. 
So we used 'nonmatching_names_df' to establish that the list of players that are not in the intersection of our dataset are the ones that did not attend college.

In [94]:
# Filter for players who went to college and also played in the NBA
Q2_Final = Q2_df3[
    Q2_df3['Player'].isin(Q2_df2_aligned['Player']) & 
    Q2_df3['Player'].isin(Q2_df1_aligned['Player'])            
]

# Reset the index for cleaner presentation (optional)
Q2_Final.reset_index(drop=True, inplace=True)

# Display the DataFrame
Q2_Final.head()

,Player,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,Three-Point Field Goals Attempted,Free Throws Made,Free Throws Attempted,Turnovers,Personal Fouls,Offensive Rebounds,Total Rebounds,Assists,Steals,Blocks,Points,Year,Status
0,Jerry Stackhouse,80.0,3215.0,774.0,1927.0,166.0,473.0,666.0,810.0,326.0,160.0,99.0,315.0,410.0,97.0,54.0,2380.0,2000,Professional
1,Allen Iverson,71.0,2979.0,762.0,1813.0,98.0,306.0,585.0,719.0,237.0,147.0,50.0,273.0,325.0,178.0,20.0,2207.0,2000,Professional
2,Shaquille O'Neal,74.0,2924.0,813.0,1422.0,0.0,2.0,499.0,972.0,218.0,256.0,291.0,940.0,277.0,47.0,204.0,2125.0,2000,Professional
3,Paul Pierce,82.0,3120.0,687.0,1513.0,147.0,384.0,550.0,738.0,262.0,251.0,94.0,522.0,253.0,138.0,69.0,2071.0,2000,Professional
4,Vince Carter,75.0,2979.0,762.0,1656.0,162.0,397.0,384.0,502.0,167.0,205.0,176.0,416.0,291.0,114.0,82.0,2070.0,2000,Professional

In [95]:
#Calculating performance metrics per game for each player:

Q2_Final['Points Per Game'] = Q2_Final['Points'] /  Q2_Final['Games Played']
Q2_Final['Assists Per Game'] = Q2_Final['Assists'] /  Q2_Final['Games Played']
Q2_Final['Rebounds Per Game'] = Q2_Final['Total Rebounds'] /  Q2_Final['Games Played']
Q2_Final['Goals Made Per Game'] = Q2_Final['Field Goals Made'] /  Q2_Final['Games Played']

Q2_Final

C:\Users\ssay778\AppData\Local\Temp\ipykernel_20276\2801649588.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q2_Final['Points Per Game'] = Q2_Final['Points'] /  Q2_Final['Games Played']
C:\Users\ssay778\AppData\Local\Temp\ipykernel_20276\2801649588.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q2_Final['Assists Per Game'] = Q2_Final['Assists'] /  Q2_Final['Games Played']
C:\Users\ssay778\AppData\Local\Temp\ipykernel_20276\2801649588.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q2_Final['Rebounds Per Game'] = Q2_Final['Total Rebounds'] /  Q2_Final['Games Played']
C:\Users\ssay778\AppData\Local\Temp\ipykernel_20276\2801649588.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q2_Final['Goals Made Per Game'] = Q2_Final['Field Goals Made'] /  Q2_Final['Games Played']

,Player,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,Three-Point Field Goals Attempted,Free Throws Made,Free Throws Attempted,Turnovers,...,Assists,Steals,Blocks,Points,Year,Status,Points Per Game,Assists Per Game,Rebounds Per Game,Goals Made Per Game
0,Jerry Stackhouse,80.0,3215.0,774.0,1927.0,166.0,473.0,666.0,810.0,326.0,...,410.0,97.0,54.0,2380.0,2000,Professional,29.750000,5.125000,3.937500,9.675000
1,Allen Iverson,71.0,2979.0,762.0,1813.0,98.0,306.0,585.0,719.0,237.0,...,325.0,178.0,20.0,2207.0,2000,Professional,31.084507,4.577465,3.845070,10.732394
2,Shaquille O'Neal,74.0,2924.0,813.0,1422.0,0.0,2.0,499.0,972.0,218.0,...,277.0,47.0,204.0,2125.0,2000,Professional,28.716216,3.743243,12.702703,10.986486
3,Paul Pierce,82.0,3120.0,687.0,1513.0,147.0,384.0,550.0,738.0,262.0,...,253.0,138.0,69.0,2071.0,2000,Professional,25.256098,3.085366,6.365854,8.378049
4,Vince Carter,75.0,2979.0,762.0,1656.0,162.0,397.0,384.0,502.0,167.0,...,291.0,114.0,82.0,2070.0,2000,Professional,27.600000,3.880000,5.546667,10.160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5994,Michael Redd,30.0,1004.0,197.0,452.0,34.0,108.0,90.0,116.0,62.0,...,62.0,37.0,6.0,518.0,2000,OHIOST,17.266667,2.066667,6.533333,6.566667
5995,Theo Ratliff,27.0,298.0,14.0,32.0,0.0,0.0,21.0,36.0,11.0,...,8.0,7.0,43.0,49.0,1992,WYOMING,1.814815,0.296296,2.000000,0.518519
5996,Theo Ratliff,28.0,824.0,99.0,184.0,0.0,1.0,60.0,116.0,56.0,...,8.0,14.0,124.0,258.0,1993,WYOMING,9.214286,0.285714,6.178571,3.535714
5997,Theo Ratliff,28.0,892.0,160.0,281.0,0.0,1.0,111.0,171.0,71.0,...,27.0,25.0,114.0,431.0,1994,WYOMING,15.392857,0.964286,7.750000,5.714286
5998,Theo Ratliff,28.0,912.0,148.0,272.0,1.0,5.0,107.0,169.0,69.0,...,31.0,16.0,144.0,404.0,1995,WYOMING,14.428571,1.107143,7.535714,5.285714

In [96]:
# Display summary of DataFrame 'Q2_Final'.
Q2_Final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5999 entries, 0 to 5998
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Player                             5999 non-null   object
 1   Games Played                       5999 non-null   float64
 2   Minutes Played                     5986 non-null   float64
 3   Field Goals Made                   5999 non-null   float64
 4   Field Goals Attempted              5999 non-null   float64
 5   Three-Point Field Goals Made       5914 non-null   float64
 6   Three-Point Field Goals Attempted  5914 non-null   float64
 7   Free Throws Made                   5999 non-null   float64
 8   Free Throws Attempted              5999 non-null   float64
 9   Turnovers                          5949 non-null   float64
 10  Personal Fouls                     5956 non-null   float64
 11  Offensive Rebounds                 5049 non-null   float64
 12  Total Rebounds                     5999 non-null   float64
 13  Assists                            5996 non-null   float64
 14  Steals                             5973 non-null   float64
 15  Blocks                             5970 non-null   float64
 16  Points                             5999 non-null   float64
 17  Year                               5999 non-null   int64
 18  Status                             5999 non-null   object
 19  Points Per Game                    5999 non-null   float64
 20  Assists Per Game                   5996 non-null   float64
 21  Rebounds Per Game                  5999 non-null   float64
 22  Goals Made Per Game                5999 non-null   float64
dtypes: float64(20), int64(1), object(2)
memory usage: 1.1+ MB

In [97]:
# Creating a list of columns that are not required for the analysis.
columns_to_drop = [
    'Games Played', 'Minutes Played', 'Field Goals Made', 'Field Goals Attempted', 'Three-Point Field Goals Made', 
    'Three-Point Field Goals Attempted', 'Free Throws Made', 'Free Throws Attempted', 'Turnovers',
    'Personal Fouls', 'Offensive Rebounds', 'Total Rebounds', 'Assists', 'Steals', 'Blocks', 'Points']

# Drop the columns from the dataset 'Q2_Final'
Q2_Final = Q2_Final.drop(columns=columns_to_drop)
# Resetting the DataFrame index after all transformations and dropping the old index
Q2_Final.reset_index(drop=True, inplace=True)
Q2_Final

,Player,Year,Status,Points Per Game,Assists Per Game,Rebounds Per Game,Goals Made Per Game
0,Jerry Stackhouse,2000,Professional,29.750000,5.125000,3.937500,9.675000
1,Allen Iverson,2000,Professional,31.084507,4.577465,3.845070,10.732394
2,Shaquille O'Neal,2000,Professional,28.716216,3.743243,12.702703,10.986486
3,Paul Pierce,2000,Professional,25.256098,3.085366,6.365854,8.378049
4,Vince Carter,2000,Professional,27.600000,3.880000,5.546667,10.160000
...,...,...,...,...,...,...,...
5994,Michael Redd,2000,OHIOST,17.266667,2.066667,6.533333,6.566667
5995,Theo Ratliff,1992,WYOMING,1.814815,0.296296,2.000000,0.518519
5996,Theo Ratliff,1993,WYOMING,9.214286,0.285714,6.178571,3.535714
5997,Theo Ratliff,1994,WYOMING,15.392857,0.964286,7.750000,5.714286
5998,Theo Ratliff,1995,WYOMING,14.428571,1.107143,7.535714,5.285714

In [98]:
#Exporting final dataset to answer question 2 as a csv file.
Q2_Final.to_csv("Question2.csv")

Question2 Google Drive Link - https://drive.google.com/file/d/1yjownqUvoPAusjcovHNA0cCyp1YuK1-X/view?usp=sharing

## Question 3 - Merged Dataset

For Question 3 we want to study colleges that produce the maximum number of NBA players and compare it against median salary.   
Start with assigning a new Dataframe 'Q3_df1' to the final dataframe created in question 2 ('Q2_Final'). This is so that the original data is not maipulated.   
Let's filter the Q3 dataset 1 based on professional in the Status column.  
Thus when we combine salary to the final dataset we created for Q2, we will get a lot of NAs. This is because there will not be any salary for the time these players were in college.

In [99]:
Q3_df1 = Q2_Final.loc[Q2_Final['Status'] == "Professional"]
Q3_df1

,Player,Year,Status,Points Per Game,Assists Per Game,Rebounds Per Game,Goals Made Per Game
0,Jerry Stackhouse,2000,Professional,29.750000,5.125000,3.937500,9.675000
1,Allen Iverson,2000,Professional,31.084507,4.577465,3.845070,10.732394
2,Shaquille O'Neal,2000,Professional,28.716216,3.743243,12.702703,10.986486
3,Paul Pierce,2000,Professional,25.256098,3.085366,6.365854,8.378049
4,Vince Carter,2000,Professional,27.600000,3.880000,5.546667,10.160000
...,...,...,...,...,...,...,...
3538,Anthony Tolliver,2019,Professional,3.636364,0.763636,2.800000,1.181818
3539,Rodney McGruder,2019,Professional,3.339286,0.642857,2.696429,1.285714
3540,Nassir Little,2019,Professional,3.583333,0.458333,2.250000,1.354167
3541,David Nwaba,2019,Professional,5.200000,0.400000,2.250000,1.850000
3542,Al-Farouq Aminu,2019,Professional,4.333333,1.166667,4.833333,1.388889

In [100]:
# Drop the columns that are not needed from the dataset 'Q3_df1'.
# We dropped all other columns apart from Player name and Year to align it with the scope of the question.
Q3_df1 = Q3_df1.drop(Q3_df1.columns[2: ], axis = 1)
Q3_df1

                Player  Year
0     Jerry Stackhouse  2000
1        Allen Iverson  2000
2     Shaquille O'Neal  2000
3          Paul Pierce  2000
4         Vince Carter  2000
...                ...   ...
3538  Anthony Tolliver  2019
3539   Rodney McGruder  2019
3540     Nassir Little  2019
3541       David Nwaba  2019
3542   Al-Farouq Aminu  2019

[3543 rows x 2 columns]

We need to merge Q3_df1 on NBA salaries dataset so that we get the salary for each player for each year he was playing in NBA.  
Since Q3_df1 has multiple rows for each player, to be able to merge we need to create a unique key in both datasets by combining the player name and the year column.

In [101]:
# The 'Name_key' will concatenate the player's name with the season year to ensure unique matching.
Q3_df1['Name_Key'] = Q3_df1['Player'] + "_" + Q3_df1["Year"].astype(str)
Q3_df1

                Player  Year               Name_Key
0     Jerry Stackhouse  2000  Jerry Stackhouse_2000
1        Allen Iverson  2000     Allen Iverson_2000
2     Shaquille O'Neal  2000  Shaquille O'Neal_2000
3          Paul Pierce  2000       Paul Pierce_2000
4         Vince Carter  2000      Vince Carter_2000
...                ...   ...                    ...
3538  Anthony Tolliver  2019  Anthony Tolliver_2019
3539   Rodney McGruder  2019   Rodney McGruder_2019
3540     Nassir Little  2019     Nassir Little_2019
3541       David Nwaba  2019       David Nwaba_2019
3542   Al-Farouq Aminu  2019   Al-Farouq Aminu_2019

[3543 rows x 3 columns]

In [102]:
# We are recalling the dataframe (df2) contatining the salaries of NBA player
df2

                   Name  Year  Salaries  Rank               Name_Key
0      Shaquille O'Neal  2000  17142000     1  Shaquille O'Neal_2000
1         Kevin Garnett  2000  16806000     2     Kevin Garnett_2000
2       Alonzo Mourning  2000  15004000     3   Alonzo Mourning_2000
3          Juwan Howard  2000  15000000     4      Juwan Howard_2000
4        Scottie Pippen  2000  14795000     5    Scottie Pippen_2000
...                 ...   ...       ...   ...                    ...
37375       George King  2019     77250   487       George King_2019
37376      Drew Eubanks  2019     77250   487      Drew Eubanks_2019
37377       Jordan Loyd  2019     77250   487       Jordan Loyd_2019
37378    Wenyen Gabriel  2019     75000   512    Wenyen Gabriel_2019
37379         Nuni Omot  2019     20000   513         Nuni Omot_2019

[37380 rows x 5 columns]

In [103]:
# First check for missing values within the dataset. 
missing_values_Q3_df2 = df2[df2['Salaries']== 0]
missing_values_Q3_df2

                      Name  Year  Salaries  Rank                  Name_Key
144        Hakeem Olajuwon  2000         0   145      Hakeem Olajuwon_2000
145         David Robinson  2000         0   146       David Robinson_2000
146        Dikembe Mutombo  2000         0   147      Dikembe Mutombo_2000
147          Patrick Ewing  2000         0   148        Patrick Ewing_2000
148        Jayson Williams  2000         0   149      Jayson Williams_2000
...                    ...   ...       ...   ...                       ...
37289   Marcus Thornton II  2019         0  1867   Marcus Thornton II_2019
37290        Jameel Warney  2019         0  1868        Jameel Warney_2019
37291        Aaron Jackson  2019         0  1869        Aaron Jackson_2019
37292  Trey McKinney-Jones  2019         0  1870  Trey McKinney-Jones_2019
37293         Andre Ingram  2019         0  1871         Andre Ingram_2019

[28043 rows x 5 columns]

In [104]:
# Export it to cvs.
# When checked through AI, all missing values started for years when those players officially retired from NBA.
# Appendix Figure 2 shows sample screenshot of ChatGPT promt and the result that confirms whether missing salary is for the time the player retired. 
missing_values_Q3_df2.to_csv("missing_values_Q3_df2.csv")

In [105]:
# Create a new dataframe Q3_df2 by filtering 'df2' dataset by removing all NAs.
# Then drop the non-essential column named 'Rank' from Q3_df2

Q3_df2 = df2.loc[df2['Salaries'] > 0]
Q3_df2 = Q3_df2.drop('Rank' , axis = 1 )
Q3_df2

                   Name  Year  Salaries               Name_Key
0      Shaquille O'Neal  2000  17142000  Shaquille O'Neal_2000
1         Kevin Garnett  2000  16806000     Kevin Garnett_2000
2       Alonzo Mourning  2000  15004000   Alonzo Mourning_2000
3          Juwan Howard  2000  15000000      Juwan Howard_2000
4        Scottie Pippen  2000  14795000    Scottie Pippen_2000
...                 ...   ...       ...                    ...
37375       George King  2019     77250       George King_2019
37376      Drew Eubanks  2019     77250      Drew Eubanks_2019
37377       Jordan Loyd  2019     77250       Jordan Loyd_2019
37378    Wenyen Gabriel  2019     75000    Wenyen Gabriel_2019
37379         Nuni Omot  2019     20000         Nuni Omot_2019

[9337 rows x 4 columns]

We need to merge Q3_df1 on the filtered dataset from the previous step (Q3_df2) so that we get the salary for each player for each year he was playing in NBA.

In [106]:
# Merge using the common key created in both datasets "Name_Key".
Q3_df3 = pd.merge(Q3_df1, Q3_df2, on='Name_Key' , how = "inner")
Q3_df3

,Player,Year_x,Name_Key,Name,Year_y,Salaries
0,Jerry Stackhouse,2000,Jerry Stackhouse_2000,Jerry Stackhouse,2000,4781000
1,Shaquille O'Neal,2000,Shaquille O'Neal_2000,Shaquille O'Neal,2000,17142000
2,Paul Pierce,2000,Paul Pierce_2000,Paul Pierce,2000,1503000
3,Vince Carter,2000,Vince Carter_2000,Vince Carter,2000,2267000
4,Antawn Jamison,2000,Antawn Jamison_2000,Antawn Jamison,2000,2503000
...,...,...,...,...,...,...
3121,Dwayne Bacon,2019,Dwayne Bacon_2019,Dwayne Bacon,2019,1378242
3122,Anthony Tolliver,2019,Anthony Tolliver_2019,Anthony Tolliver,2019,5750000
3123,Rodney McGruder,2019,Rodney McGruder_2019,Rodney McGruder,2019,1544951
3124,David Nwaba,2019,David Nwaba_2019,David Nwaba,2019,1512601
3125,Al-Farouq Aminu,2019,Al-Farouq Aminu_2019,Al-Farouq Aminu,2019,6957105

To answer Question 3, the final dataset needs a column that has the graduating college of each player.   
From the college stats dataset, we found that if we create a new dataset which only has the stats for their oldest age, we can pull their graduating college name.

In [107]:
# Loads the college stat dataframe from Question 2 and create a new column called "Max_Age" for each college player based on the "Age in College" column.
Q3_df4 = Q2_df2
Q3_df4['Max_Age'] = Q3_df4.groupby("Player")["Age in College"].transform('max')
Q3_df4

,Player,Age in College,Status,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,Three-Point Field Goals Attempted,Free Throws Made,...,Three-Point Field Goal Percentage,Free Throw Percentage,Minutes Per Game,Points Per Game,Rebounds Per Game,Assists Per Game,Player_HTML,season,Year,Max_Age
0,Udoka Azubuike,17,KANSAS,11.0,142.0,22.0,35.0,0.0,0.0,11.0,...,NaN,0.379,12.9,5.0,4.4,0.2,https://www.basketball-reference.com/players/a...,2016-17,2017,20
1,Udoka Azubuike,18,KANSAS,36.0,848.0,211.0,274.0,0.0,0.0,45.0,...,NaN,0.413,23.6,13.0,7.0,0.7,https://www.basketball-reference.com/players/a...,2017-18,2018,20
2,Udoka Azubuike,19,KANSAS,9.0,184.0,55.0,78.0,0.0,0.0,11.0,...,NaN,0.344,20.4,13.4,6.8,0.6,https://www.basketball-reference.com/players/a...,2018-19,2019,20
3,Udoka Azubuike,20,KANSAS,31.0,859.0,181.0,242.0,0.0,0.0,64.0,...,NaN,0.441,27.7,13.7,10.5,0.9,https://www.basketball-reference.com/players/a...,2019-20,2020,20
4,Marty Byrnes,18,SYRACUSE,19.0,NaN,6.0,15.0,NaN,NaN,6.0,...,NaN,0.500,NaN,0.9,1.4,0.0,https://www.basketball-reference.com/players/b...,1974-75,1975,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10111,Aleksandar Radojević,22,BARTONCCC,38.0,1072.0,231.0,381.0,2.0,3.0,121.0,...,0.667,0.634,28.2,15.4,9.0,1.3,https://www.basketball-reference.com/players/r...,1998-99,1999,22
10112,Mark Radford,18,OREGONST,27.0,818.0,119.0,239.0,NaN,NaN,48.0,...,NaN,0.738,30.3,10.6,2.1,3.6,https://www.basketball-reference.com/players/r...,1977-78,1978,21
10113,Mark Radford,19,OREGONST,28.0,849.0,143.0,280.0,NaN,NaN,97.0,...,NaN,0.776,30.3,13.7,3.1,4.0,https://www.basketball-reference.com/players/r...,1978-79,1979,21
10114,Mark Radford,20,OREGONST,30.0,957.0,140.0,258.0,NaN,NaN,78.0,...,NaN,0.804,31.9,11.9,2.5,3.3,https://www.basketball-reference.com/players/r...,1979-80,1980,21
10115,Mark Radford,21,OREGONST,28.0,900.0,147.0,279.0,NaN,NaN,69.0,...,NaN,0.633,32.1,13.0,2.2,3.3,https://www.basketball-reference.com/players/r...,1980-81,1981,21

In [108]:
# Need to create a key column that would allow us to filter stats for each player for its max age.
# Create a "verify" column to get boolean results, where if the "Max_Age" is equal to "Age in College", give true otherwise false.
Q3_df4["verify"] = Q3_df4.apply(lambda row: True if row ["Max_Age"] ==  row ["Age in College"] else False , axis = 1)
Q3_df4

,Player,Age in College,Status,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,Three-Point Field Goals Attempted,Free Throws Made,...,Free Throw Percentage,Minutes Per Game,Points Per Game,Rebounds Per Game,Assists Per Game,Player_HTML,season,Year,Max_Age,verify
0,Udoka Azubuike,17,KANSAS,11.0,142.0,22.0,35.0,0.0,0.0,11.0,...,0.379,12.9,5.0,4.4,0.2,https://www.basketball-reference.com/players/a...,2016-17,2017,20,False
1,Udoka Azubuike,18,KANSAS,36.0,848.0,211.0,274.0,0.0,0.0,45.0,...,0.413,23.6,13.0,7.0,0.7,https://www.basketball-reference.com/players/a...,2017-18,2018,20,False
2,Udoka Azubuike,19,KANSAS,9.0,184.0,55.0,78.0,0.0,0.0,11.0,...,0.344,20.4,13.4,6.8,0.6,https://www.basketball-reference.com/players/a...,2018-19,2019,20,False
3,Udoka Azubuike,20,KANSAS,31.0,859.0,181.0,242.0,0.0,0.0,64.0,...,0.441,27.7,13.7,10.5,0.9,https://www.basketball-reference.com/players/a...,2019-20,2020,20,True
4,Marty Byrnes,18,SYRACUSE,19.0,NaN,6.0,15.0,NaN,NaN,6.0,...,0.500,NaN,0.9,1.4,0.0,https://www.basketball-reference.com/players/b...,1974-75,1975,21,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10111,Aleksandar Radojević,22,BARTONCCC,38.0,1072.0,231.0,381.0,2.0,3.0,121.0,...,0.634,28.2,15.4,9.0,1.3,https://www.basketball-reference.com/players/r...,1998-99,1999,22,True
10112,Mark Radford,18,OREGONST,27.0,818.0,119.0,239.0,NaN,NaN,48.0,...,0.738,30.3,10.6,2.1,3.6,https://www.basketball-reference.com/players/r...,1977-78,1978,21,False
10113,Mark Radford,19,OREGONST,28.0,849.0,143.0,280.0,NaN,NaN,97.0,...,0.776,30.3,13.7,3.1,4.0,https://www.basketball-reference.com/players/r...,1978-79,1979,21,False
10114,Mark Radford,20,OREGONST,30.0,957.0,140.0,258.0,NaN,NaN,78.0,...,0.804,31.9,11.9,2.5,3.3,https://www.basketball-reference.com/players/r...,1979-80,1980,21,False
10115,Mark Radford,21,OREGONST,28.0,900.0,147.0,279.0,NaN,NaN,69.0,...,0.633,32.1,13.0,2.2,3.3,https://www.basketball-reference.com/players/r...,1980-81,1981,21,True

In [109]:
# Filter for all rows that is not False.
# This will give a filtered dataframe which will contain the college stats for when that player graduated/entered NBA.
Q3_df4 = Q3_df4[Q3_df4["verify"] != False]

Q3_df4

,Player,Age in College,Status,Games Played,Minutes Played,Field Goals Made,Field Goals Attempted,Three-Point Field Goals Made,Three-Point Field Goals Attempted,Free Throws Made,...,Free Throw Percentage,Minutes Per Game,Points Per Game,Rebounds Per Game,Assists Per Game,Player_HTML,season,Year,Max_Age,verify
3,Udoka Azubuike,20,KANSAS,31.0,859.0,181.0,242.0,0.0,0.0,64.0,...,0.441,27.7,13.7,10.5,0.9,https://www.basketball-reference.com/players/a...,2019-20,2020,20,True
7,Marty Byrnes,21,SYRACUSE,23.0,NaN,187.0,375.0,NaN,NaN,83.0,...,0.692,NaN,19.9,8.4,2.9,https://www.basketball-reference.com/players/b...,1977-78,1978,21,True
11,Jerome Dyson,22,UCONN,34.0,1143.0,195.0,499.0,40.0,137.0,156.0,...,0.716,33.6,17.2,4.3,4.2,https://www.basketball-reference.com/players/d...,2009-10,2010,22,True
15,Festus Ezeli,22,VANDY,26.0,603.0,89.0,165.0,0.0,0.0,84.0,...,0.604,23.2,10.1,5.9,0.3,https://www.basketball-reference.com/players/e...,2011-12,2012,22,True
19,Terry Furlow,21,MICHIGANST,27.0,NaN,308.0,653.0,NaN,NaN,177.0,...,0.876,NaN,29.4,7.7,3.2,https://www.basketball-reference.com/players/f...,1975-76,1976,21,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10101,Jahmi'us Ramsey,18,TXTECH,27.0,842.0,148.0,335.0,60.0,141.0,50.0,...,0.641,31.2,15.0,4.0,2.2,https://www.basketball-reference.com/players/r...,2019-20,2020,18,True
10105,Kurt Rambis,21,SANTACLARA,27.0,860.0,211.0,395.0,NaN,NaN,107.0,...,0.637,31.9,19.6,9.9,2.0,https://www.basketball-reference.com/players/r...,1979-80,1980,21,True
10109,Ed Rains,24,SALABAMA,31.0,1065.0,210.0,411.0,NaN,NaN,152.0,...,0.710,34.4,18.5,6.3,2.9,https://www.basketball-reference.com/players/r...,1980-81,1981,24,True
10111,Aleksandar Radojević,22,BARTONCCC,38.0,1072.0,231.0,381.0,2.0,3.0,121.0,...,0.634,28.2,15.4,9.0,1.3,https://www.basketball-reference.com/players/r...,1998-99,1999,22,True
10115,Mark Radford,21,OREGONST,28.0,900.0,147.0,279.0,NaN,NaN,69.0,...,0.633,32.1,13.0,2.2,3.3,https://www.basketball-reference.com/players/r...,1980-81,1981,21,True

In [110]:
# Drop all non-essential columns from the new filtered dataframe. 
Q3_df4 = Q3_df4.drop(Q3_df4.columns[3:], axis = 1)
Q3_df4

                     Player  Age in College      Status
3            Udoka Azubuike              20      KANSAS
7              Marty Byrnes              21    SYRACUSE
11             Jerome Dyson              22       UCONN
15             Festus Ezeli              22       VANDY
19             Terry Furlow              21  MICHIGANST
...                     ...             ...         ...
10101       Jahmi'us Ramsey              18      TXTECH
10105           Kurt Rambis              21  SANTACLARA
10109              Ed Rains              24    SALABAMA
10111  Aleksandar Radojević              22   BARTONCCC
10115          Mark Radford              21    OREGONST

[3057 rows x 3 columns]

In [111]:
# Drop all non-essential columns from the new filtered dataframe. 
Q3_df4 = Q3_df4.drop('Age in College', axis = 1)
Q3_df4

                     Player      Status
3            Udoka Azubuike      KANSAS
7              Marty Byrnes    SYRACUSE
11             Jerome Dyson       UCONN
15             Festus Ezeli       VANDY
19             Terry Furlow  MICHIGANST
...                     ...         ...
10101       Jahmi'us Ramsey      TXTECH
10105           Kurt Rambis  SANTACLARA
10109              Ed Rains    SALABAMA
10111  Aleksandar Radojević   BARTONCCC
10115          Mark Radford    OREGONST

[3057 rows x 2 columns]

In [112]:
# Left join the filtered dataset Q3_df3 on Q3_df4 using the common key "Player", to get the graduatuing college name for each player in Q3_df3.   
Q3_Final = pd.merge(Q3_df3, Q3_df4, on='Player' , how = "left")
Q3_Final

,Player,Year_x,Name_Key,Name,Year_y,Salaries,Status
0,Jerry Stackhouse,2000,Jerry Stackhouse_2000,Jerry Stackhouse,2000,4781000,UNC
1,Shaquille O'Neal,2000,Shaquille O'Neal_2000,Shaquille O'Neal,2000,17142000,LSU
2,Paul Pierce,2000,Paul Pierce_2000,Paul Pierce,2000,1503000,KANSAS
3,Vince Carter,2000,Vince Carter_2000,Vince Carter,2000,2267000,UNC
4,Antawn Jamison,2000,Antawn Jamison_2000,Antawn Jamison,2000,2503000,UNC
...,...,...,...,...,...,...,...
3121,Dwayne Bacon,2019,Dwayne Bacon_2019,Dwayne Bacon,2019,1378242,FLORIDAST
3122,Anthony Tolliver,2019,Anthony Tolliver_2019,Anthony Tolliver,2019,5750000,CREIGHTON
3123,Rodney McGruder,2019,Rodney McGruder_2019,Rodney McGruder,2019,1544951,KANSASST
3124,David Nwaba,2019,David Nwaba_2019,David Nwaba,2019,1512601,CALPOLY
3125,Al-Farouq Aminu,2019,Al-Farouq Aminu_2019,Al-Farouq Aminu,2019,6957105,WAKE

In [113]:
# Drop non-essential column names. 
Q3_Final = Q3_Final.drop(['Year_x', 'Name_Key','Name'], axis = 1)

In [114]:
# Rename column name for standardization. 
Q3_Final = Q3_Final.rename(columns={
    'Year_y': 'Year'})

Q3_Final

                Player  Year  Salaries     Status
0     Jerry Stackhouse  2000   4781000        UNC
1     Shaquille O'Neal  2000  17142000        LSU
2          Paul Pierce  2000   1503000     KANSAS
3         Vince Carter  2000   2267000        UNC
4       Antawn Jamison  2000   2503000        UNC
...                ...   ...       ...        ...
3121      Dwayne Bacon  2019   1378242  FLORIDAST
3122  Anthony Tolliver  2019   5750000  CREIGHTON
3123   Rodney McGruder  2019   1544951   KANSASST
3124       David Nwaba  2019   1512601    CALPOLY
3125   Al-Farouq Aminu  2019   6957105       WAKE

[3126 rows x 4 columns]

In [115]:
# Z-Score normalization of Salaries per player.
# This is essential to remove tenure bias from the dataset.
Q3_Final['Z-Score Salary'] = Q3_Final.groupby('Player')['Salaries'].transform(
    lambda x: (x - x.mean()) / x.std()
)

Q3_Final

                Player  Year  Salaries     Status  Z-Score Salary
0     Jerry Stackhouse  2000   4781000        UNC       -1.041626
1     Shaquille O'Neal  2000  17142000        LSU       -1.344338
2          Paul Pierce  2000   1503000     KANSAS       -1.719522
3         Vince Carter  2000   2267000        UNC       -1.217780
4       Antawn Jamison  2000   2503000        UNC       -1.596953
...                ...   ...       ...        ...             ...
3121      Dwayne Bacon  2019   1378242  FLORIDAST             NaN
3122  Anthony Tolliver  2019   5750000  CREIGHTON        0.353270
3123   Rodney McGruder  2019   1544951   KANSASST        0.707107
3124       David Nwaba  2019   1512601    CALPOLY        0.707107
3125   Al-Farouq Aminu  2019   6957105       WAKE        0.810036

[3126 rows x 5 columns]

In [116]:
# There are NaN in 'Z-Score Salary' column. This is because there is only one row of data for these players.
# For calculate, we need at least 2 years of data, otherwise Standard Deviation (SD) cannot be computed.
Q3_Final_NA_Z_Score = Q3_Final[Q3_Final['Z-Score Salary'].isna()]
Q3_Final_NA_Z_Score

                 Player  Year  Salaries      Status  Z-Score Salary
28      Terrell Brandon  2000   7400000      OREGON             NaN
31    Michael Dickerson  2000   1224000     ARIZONA             NaN
49          Tyrone Hill  2000   6422000      XAVIER             NaN
53           P.J. Brown  2000   5124000      LATECH             NaN
58        Bryant Reeves  2000   8666000     OKSTATE             NaN
...                 ...   ...       ...         ...             ...
3102        Alex Caruso  2019     77250     TEXASAM             NaN
3109    Jerome Robinson  2019   3050160  BOSTONCOLL             NaN
3114       Tony Bradley  2019   1679520         UNC             NaN
3119       Semi Ojeleye  2019   1378242  SMETHODIST             NaN
3121       Dwayne Bacon  2019   1378242   FLORIDAST             NaN

[158 rows x 5 columns]

In [117]:
# Export the NAs for Z score to a CSV file
Q3_Final_NA_Z_Score.to_csv("Q3_Final_NA_Z_Score.csv")

In [118]:
#Drop all rows where Z score Salary is NA.
Q3_Final.dropna(inplace=True)

In [119]:
# Resetting the DataFrame index after all transformations and dropping the old index
Q3_Final.reset_index(drop=True, inplace=True)
Q3_Final

                Player  Year  Salaries     Status  Z-Score Salary
0     Jerry Stackhouse  2000   4781000        UNC       -1.041626
1     Shaquille O'Neal  2000  17142000        LSU       -1.344338
2          Paul Pierce  2000   1503000     KANSAS       -1.719522
3         Vince Carter  2000   2267000        UNC       -1.217780
4       Antawn Jamison  2000   2503000        UNC       -1.596953
...                ...   ...       ...        ...             ...
2963       Rodney Hood  2019   3472887       DUKE        1.573097
2964  Anthony Tolliver  2019   5750000  CREIGHTON        0.353270
2965   Rodney McGruder  2019   1544951   KANSASST        0.707107
2966       David Nwaba  2019   1512601    CALPOLY        0.707107
2967   Al-Farouq Aminu  2019   6957105       WAKE        0.810036

[2968 rows x 5 columns]

In [120]:
# Export the CVS file for analysis.
Q3_Final.to_csv("Question3.csv")

Question3 Google Drive Link - https://drive.google.com/file/d/1f4DFp_vU8b8Gf9X4HiBhshGgFvup7rZx/view?usp=sharing

# Analysis

### Question 1: How does team change impact a player’s performance and salary?

### Bias/Limitations:
- As the salary dataset is from 2000 to 2019, it will be a mix of seasoned and rookie players. Hence, when analyzing player salaries and player metrics in the context of team changes, we need to account for this bias as players with longer careers in the NBA naturally tend to earn higher salaries compared to those who have recently joined the league.
- To address this, we standardized the performance metrics and player salaries across the datasets. This involved normalizing each metric to account for variations across years and player tenures, ensuring that all values were on a comparable scale. Standardization prevents the stronger influence of extreme values and ensures that trends observed are not skewed by player-specific or tenure-specific anomalies.


<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/Question%201%20-%20Average%20Salary%20.png?raw=true" >

#### Average Salary by Team Change:

- Overall, players who changed teams **(Changed)** consistently have slightly higher z-score salaries compared to those who did not switch teams **(Stayed)**. When a player switches teams, they typically sign a new contract that reflects their current market value, which is often influenced by recent performance metrics. Additionally, teams acquiring players may offer higher salaries to attract top talent.
- Between 2009 and 2014, NBA players' average z-scored wages fell significantly, reflecting a mix of economic, structural, and strategic changes in the league. One important cause was the aftermath of the 2008 global financial crisis, which limited team revenue from ticket sales, sponsorships, and merchandise, forcing clubs to adopt more conservative spending strategies. This was further aggravated by the 2011 Collective Bargaining Agreement (CBA), which imposed stricter pay restrictions, shorter contracts, and harsher luxury tax penalties, limiting compensation growth and shifting income away from mid-tier and role players.
- The effects of these trends were particularly for players who stayed with their teams, as they frequently worked under older, less profitable contracts or saw earnings stagnate, whereas those who transferred teams had better possibilities to renegotiate salaries. Overall, this time indicates a league-wide adjustment to economic uncertainties and changing salary structures, which momentarily hampers wage growth.

<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/Question%201%20Performance%20metrics.png?raw=true" >

#### Performance Metrics by Team Change

Overall, players who have not changed team have consistency and more stable and higher performance, highly due to greater team chemistry and sync with the team playstyle. The players who have changed teams have greater variability can be attributed to the challenges of adapting to new teammates, unfamiliar team playstyles, and different roles within the team, which can temporarily disrupt a player’s rhythm and overall effectiveness on the court (Latimer, 2021).

1.  Average Points Per Game:
- Players who stayed with the same team **(Stayed)** generally scored slightly higher on average compared to those who changed teams **(Changed)** This shows that team position and system stability may lead to improved scoring consistency. Players who stay gain from a better understanding of team chemistry and attacking strategy.
2. Rebounds Per Game:
- The difference in rebounds between players who stayed and those who changed teams is minimal. Rebounding tends to be more consistent since it relies heavily on physical attributes and positioning rather than playstyle integration. A team change might not significantly impact this skill.
3. Assists Per Game:
- Players who remained with the same team tended to have higher assist averages. This reflects the advantage of being more integrated into a team’s playstyle, particularly for playmakers. Changing teams may disrupt a player's ability to effectively distribute the ball until they adapt to the new system.
4. Goals Made Per Game:
- Players who did not change teams show higher averages in goals scored, further emphasizing the benefits of stability. Remaining with the same team likely allows players to better understand offensive setups and maintain chemistry with teammates, directly impacting offensive contributions.

### Key takeaway for Scouts:
Retaining a player increases team cohesions (Brill et. al, 2013). Whilst introucing new players lead to greater variability in performance metrics, making retention a more cost-effective and stable option. 
Focus on retaining current players to maintain strong team chemistry and stability. Retaining these players is cheaper than acquiring new ones of similar caliber, whose initial contracts often exceed $20M due to market competition (Hoops, 2022).


### Steps to create Visualizations:

Imported the cleaned and merged CSV file (Question1.csv) into Power BI. (Get Data → Text/CSV)

- Average Salary by Team Change:
1.	Created a line chart to visualize Average Salary by Team Change.
2. Added Year to the X-axis and the Average of Z-Score Salary to the Y-axis
3. Added TeamChange to the Legend to distinguish between True and False.
4. Changed the title of the line chart to “Average Salary by Team Change”.


- Performance Metrics by Team Change:
1.	Similarly, for the 4 metrics, we created separate line charts to visualize each performance metric by team change.
2. Added Year to the X-axis and performance metric to the Y-axis
3. Added TeamChange to the Legend to distinguish between True and False.
4. Changed the title of the line chart according to the metric shown “[Performance Metric] (pg) by Team Change”.

### Question 2: What are the benchmark KPI values to consider when recruiting fresh college talent for the NBA? 


<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/Question%202%20-%20Boxplot%20of%20College%20Performance%20Metrics.png?raw=true" >

The box plot illustrates the distribution of key performance metrics for college basketball games for the players who made it to the NBA. This can serve as benchmarks for recruiting college graduates into the NBA in the coming seasons.   
The median values indicate typical performance levels per game: 1.9 assists, 4.8 goals made, 13.4 points, and 5.3 rebounds per game. Most players fall within the interquartile ranges, with top performers exceeding 3.2 assists, 6 goals, 17 points, and 7.4 rebounds per game (75th percentile). Players consistently achieving above the upper quartile thresholds could be strong candidates for targeted roles on a team; ex: shooting guards or point guards. 

1. Points Per Game have a wider range and more outliers, showcasing great scorers who could be good candidates for NBA recruitment. A player that scores more points per game, but has less assists, rebounds, and goals made is more likely to play in an attacking position, notably as a scorer or shooter. Such a player's key strength is scoring, which implies that they excel at creating or converting scoring opportunities.
2. Players with more assists are more likely to demonstrate playmaking skills and overall versatility. A high assist rate per game directly represents a player's ability to help create plays, provide scoring opportunities for teammates, and contribute to the team's offensive strategy.
3. Goals made and rebounds are key metrics that reveal a player's offensive and defensive contributions. A higher number of goals scored per game indicates a player's scoring efficiency and ability to convert opportunities, both of which are essential for maintaining a powerful offense. Rebounds per game, on the other hand, show a player's ability to control possession, whether by securing defensive rebounds to deny opponents second-chance points or grabbing offensive rebounds to create more scoring opportunities.



### Key takeaway for college scouts:
Scouts can use these metrics as benchmarks, and recruit players whose strengths directly translate to the needs of NBA teams. This ensures a more targeted approach for talent acquisition and greater success in developing players for professional competition. The median values can be used as benchmark for versatile players, and the upper quartile values can be used for recruiting for specific positions.

### Steps to create boxplot:

1.	Installed the needed package called “tidyverse” in R. After installation, loaded the package to use it.
2.	Loaded Question2.csv into R. Made sure it was in the correct working directory.
3.	Selected the relevant columns (performance metrics) needed to create the boxplot.
4.	Created the boxplot by using ggplot(). Placed the metrics on the X-axis and values on the Y-axis.
5.	Used geom_boxplot() to add colour and transparency. 
6.	Added a title and axis labels using labs()
7.	Used theme_minimal() for a clean visual style.

Please refer this link for R script for the code we used to do the analysis - https://drive.google.com/file/d/1UHv75WO78XvNbkuwkm_fkZ3z2gV5VkmT/view?usp=sharing

### Question 3: Which colleges produce top NBA talent, and what do their alumni salaries say about their value?

<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/Question%203%20.png?raw=true" >

Since Kentucky and Duke produce the most NBA players, it highlights their dominance as talent powerhouses. On the other hand, colleges such as California and Michigan showcase that fewer graduates can achieve higher financial success, reflecting a focus on developing players with greater individual potential for high earnings.
-	Kentucky leads as the top producer of NBA players, with over 30 players transitioning to the NBA league. 
-	On the other hand, colleges such as UCONN, Wake and California produce fewer players but appear to have players who earn relatively greater median salaries ($6.5- $8 million), pointing to a potential pattern in which fewer players from specific colleges fetch more lucrative contracts compared to the top three colleges. 

### Key takeaway for college scouts:
While powerhouse schools like Kentucky and Duke are vital for larger pool of players for recruitment (Campus Sports, 2024), scouts should not overlook smaller programs like UCONN or California that can provide a significant edge by offering players with higher financial upside. NBA team heads might care about alumni median salaries because they can serve as a proxy for the overall quality and market value of players produced by specific colleges.

### Steps taken to produce this answer:
- The Q3_df was exported to a CSV file (Question3.csv) and opened in Excel.
- The columns “Player” and “Status” were concatenated to create a key, and duplicates were removed. This resulted in a unique list of players and their colleges.
- From the concatenated unique list, the "Player" and "Status" columns were separated into two separate columns.
- A unique list of college names was extracted into a new column, and the COUNTIF function was used to calculate the frequency of players coming from each college based on the separated "Player" and "Status" columns (from step 3).
- The data was sorted in descending order based on the player counts calculated in step 4, highlighting which colleges produce the highest number of players.
- The relative frequency by college was calculated, followed by the cumulative frequency in the next column.
- Using the cumulative frequency column, the colleges contributing to 50% of NBA players were identified.
- The median salary per college was calculated.
- The resulting data was imported into Power BI.
- A combination chart (line and clustered column chart) was created, where the bars represented the count of players from each college, and the line represented the median salary for each college.

# Question 4: How do injury occurrences and patterns influence a player's salary and their likelihood of being traded?
The combined dataset from salary, team change, and performance metrics does not include information on player injuries. Injuries are a critical factor influencing player availability, performance, and value in the professional basketball market. For talent scouts and recruitment teams, understanding a player's injury history is crucial for assessing long-term potential and financial investment risks, as injuries can significantly impact both on-court performance and trade prospects.

#### Sample Crawled Data:
A small dataset extracted using the scraper includes the following structure as seen in the picture below.

<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/sample%20crawl.png?raw=true" >

#### How the Sample Data Were Obtained
The sample scraped data was collected using an existing web scraper available on GitHub. The scraper was configured to extract injury records from the Pro Sports Transactions website by setting parameters such as the date range (2000–2019) and filtering for injury-related entries. The dataset includes details such as the date of injury, team, player name, and injury description. This targeted data extraction ensures relevance to our research question.
For the Sample Crawled Data, the scraper was set to retrieve the first 200 entries from the web page to provide a manageable subset for analysis. The date range was adjusted, and the URL of the search page was utilized in the code provided below.

### **Disclaimer**

Please note that the website we used for web scraping had it's domain name expire and is currently not available.

In [121]:
#importing relevant packages for web scraping
import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

In [122]:
def replace_all(text, dic):
    '''
    This function will replace characters in text given a dictionary of characters to seach for and replace
    '''
    rc = re.compile('|'.join(map(re.escape, dic)))

    def translate(match):
        return dic[match.group(0)]
    return rc.sub(translate, text)

In [123]:
# Dictionary of characters to remove from text
char_replace = {' • ': ''}

In [124]:
# Create list of records read from webscrapper
list_of_rows = []

In [125]:
# Loop through webpage table, scrap data, and store lists. Date Range is first put on the website then the link for the page displaying the results has been included here in url.
for i in range(0, 200, 25):
    url = 'https://www.prosportstransactions.com/basketball/Search/SearchResults.php?Player=&Team=&BeginDate=2000-01-01&EndDate=2019-12-31&InjuriesChkBx=yes&Submit=Search&start={}'.format(  
        i)
    response = requests.get(url)
    html = response.content

    soup = BeautifulSoup(html, 'lxml')

    table = soup.find('table', attrs={'class': 'datatable center'})

    for row in table.findAll('tr', attrs={'align': 'left'}):
        list_of_cells = []

        for cell in row.findAll('td'):
            text = replace_all(cell.text, char_replace)
            text = text.strip()
            list_of_cells.append(text)
        list_of_rows.append(list_of_cells)

    # The domain has expired and was discussed with the professor during the presentation

ConnectionError: HTTPSConnectionPool(host='www.prosportstransactions.com', port=443): Max retries exceeded with url: /basketball/Search/SearchResults.php?Player=&Team=&BeginDate=2000-01-01&EndDate=2019-12-31&InjuriesChkBx=yes&Submit=Search&start=0 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x000001DE025271A0>: Failed to resolve 'www.prosportstransactions.com' ([Errno 11001] getaddrinfo failed)"))

In [121]:
# Store data in a dataframe for manipulation
injuries_df = pd.DataFrame(list_of_rows, columns=[
                           'Date', 'Team', 'Acquired', 'Relinquished', 'Notes'])

acq = injuries_df['Acquired']
rel = injuries_df['Relinquished']

In [122]:
# Remove instances where value is like "Name 1/ Name 2"
injuries_df['Acquired'] = np.where(
    acq.str.contains('/'), acq.str.split('/ ').str[1], acq)
injuries_df['Relinquished'] = np.where(
    rel.str.contains('/'), rel.str.split('/ ').str[1], rel)

In [123]:
# Remove instances where value is like "(some text)"
injuries_df['Acquired'] = injuries_df.Acquired.str.replace(
    r"[\(\[].*?[\)\]]", "")
injuries_df['Relinquished'] = injuries_df.Relinquished.str.replace(
    r"[\(\[].*?[\)\]]", "")

In [124]:

# Write content to csv file for the sample data
injuries_df.to_csv('injuries.csv', index=False)

 Google Drive link for the sample scraped data: https://drive.google.com/file/d/1U7ggx3HEvNWk4IPG0kGD-AV5e6cz5nEy/view?usp=sharing


#### How can the Scraped Data Be Used for the Fourth Question?

The scraped injury dataset can be processed to generate insights by following these steps:

##### Data Cleaning and Structuring

- The raw data will include players from 2000 to 2019 who sustained injuries.  
- The columns Acquired and Relinquished will be consolidated into a single Player_Status column, indicating whether a player was acquired or relinquished due to an injury.  
A separate Player column will list the corresponding player names, ensuring clarity and simplicity for analysis.

##### Unique Identifier Creation
- A unique identifier will be generated for each player-year combination by combining the player’s name and the year of the injury.  

To ensure consistency and avoid duplication, the dataset will be restructured as follows:
- Each player-year combination will be represented as a single row.  
- An Injury_Flag column will indicate whether a player sustained any injuries during that year (binary: Yes/No).
- The Notes column will consolidate all injuries a player sustained during the year into a single entry. Descriptions from multiple entries in the original dataset will be appended (e.g., "flu; ankle fracture (DNP)").
- The Team column details the team(s) associated with each player’s injury events.

This structured format ensures the injury data is concise and can be seamlessly merged with the combined dataset (Q1_df) using the player-year key, enabling comprehensive analysis alongside salary and team change metrics.

##### Analysis
By integrating the injury data with metrics from the combined dataset, the following analyses can be conducted:  
- Impact on Salary Adjustments: Examine whether injuries led to significant salary reductions or slower salary growth, highlighting their influence on player valuation.  
- Impact on Team Changes: Evaluate whether injuries increased the likelihood of players being traded or released, demonstrating how player health factors into team decisions regarding trades and retention.

# References

Brill, R. S., Hughes, J., & Waldbaum, N. (2023, November 21). Algorithmic NBA player acquisition. University of Pennsylvania. https://wsb.wharton.upenn.edu/wp-content/uploads/2023/12/Brill_2023_Q.pdf  

Campus Sports. (2024, August 28). These are the Colleges With Strongest NBA Pipelines. https://campussports.net/2019/07/11/these-are-the-colleges-with-strongest-nba-pipelines/  

 Hollinger, J. (2012, July 10). NBA releases 2012-13 salary cap, luxury tax numbers. Blazers Edge. https://www.blazersedge.com/2012/7/10/3150500/nba-releases-2012-13-salary-cap-luxury-tax-numbers   

How rising salary cap could impact NBA teams, players. (2022). Hoops Rumors. https://www.hoopsrumors.com/2022/07/how-rising-salary-cap-could-impact-nba-teams-players.html   

Hurst, T. (2024, July 16). NBA Rookie Salary Structure: How much do draft picks make by round? FanSided. https://fansided.com/posts/nba-rookie-salary-structure-how-much-do-draft-picks-make-by-round    

Jakoncic, L. (2024, October 2). The power of KPIs in basketball. SkillShark. https://skillshark.com/the-power-of-kpis-in-basketball/  

Latimer, E. (2021, January 3). Do teams matter in the NBA? Evidently. https://evidently.substack.com/p/basketballteams  

National Basketball Association. (2010, July 8). NBA salary cap for 2010-11 season set at $58.044 million. NBA.com. https://pr.nba.com/nba-salary-cap-for-2010-11-season-set-at-58-044-million/#:~:text=NEW%20YORK%20%E2%80%93%20The%20National%20Basketball,which%20it%20exceeds%20%2470.307%20million   

Today, U. (2023, June 22). 2023 NBA draft eligibility requirements: age, one-and-done rule and more. USA TODAY. https://www.usatoday.com/story/sports/nba/draft/2023/06/21/2023-nba-draft-eligibility-requirements-age-one-and-done-rule/70342381007/

# Appendix

## Figure 1

Prompt - to check if these NBA players attended college in the US before joining NBA.

<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/Q2%20non%20matching%20names%20promt.jpg?raw=true">

Result

<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/Q2,%20non%20matching%20names%20table%20sc.jpg?raw=true">

## Figure 2

Prompt - To check in which year these players retired from NBA.

<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/Retirement%20Year%20promt.jpg?raw=true">

Result

<img src = "https://github.com/RajithaReniguntla/NBAStats/blob/main/Retirement%20year%20table.jpg?raw=true">